[2019-05-07 09:47] KFlash opened #1 "TODOs"
Things needing finished:

- [x] (Parser) Label tracking
- [ ] (Parser) Lexical scope
- [x] (Parser) Location tracking
- [x] (Parser) Cover all edge cases
- [x] (Parser) Import error reporting code from private code

[2019-05-10 14:18] KFlash commented on #1
The bullet list above is what's coming next, but for now I'm focusing on this bullets due to the complexity of this parser.

- [ ] Fail & pass 100% acc. the specs
- [ ]  Cover all edge cases
- [ ] Simplify the bit masks and optimize

[2019-05-10 22:27] KFlash opened #2 "TC39 proposals"
This list exist so it's easy to keep track on what to fix, but this has *low* priority.

**Implemented:**

- [x] BigInt
- [x] Hashbang Grammar
- [x] Decorators
- [x] Import()
- [x] Import.meta

**In progress:**

- [x] Private methods
- [x] Private Static class features
- [x] Class fields & methods

[2019-05-11 22:00] axefrog opened #3 "Should I use this instead of cherow?"
I am working on an experimental project of my own, full-time. Couldn't stop building things if I tried! I know this is your experimental parser you've been working on, and that you're retired, but that you keep popping up and doing work on this stuff anyway, so I can only assume that you're doing this because you like doing it. As such, I'm uncertain what your plans are, given that this is publish

[2019-05-11 22:07] axefrog commented on #3
By the way, I noticed I can test against Meriyah on NPM via RunKit. Example that shows the class fields issue I was testing with Cherow:
https://runkit.com/embed/zw0qyaosuoho

[2019-05-11 23:51] KFlash commented on #3
Cherow's goal aimed to be open-source friendly and also have a source code that others could read and contribute to. That parser also followed the "*standard*" way of doing parsing. Start with '*A*' and continue all the way until you hit the '*Z*'.  All parsers out there are developed like that - even that one in V8. At some point you end up banging your head against the wall. Specially when you h

[2019-05-11 23:55] KFlash commented on #3
Regarding your class field issue and NPM. Current version on NPM doesn't have implemented class field support, but you could try the dev version from the night builds. This *is* supported with Meriyah and should work :) But still WIP so not all cases fails yet as they should.

Look at [this tests](https://github.com/meriyah/meriyah/blob/master/test/parser/next/public-fields.ts) and I think we can

[2019-05-12 00:50] KFlash commented on #3
@axefrog Be aware if you enable class field parsing, you also enable decorator parsing :) See [this proposal](https://github.com/tc39/proposal-decorators).

Off topic. Ok I add you to this project?

[2019-05-14 07:59] nchanged opened #4 "dynamic imports aren't parsed"
Any attempts to parse
[code]

Fails.

[2019-05-14 08:25] KFlash commented on #4
Related to this https://github.com/meriyah/meriyah/issues/2  See the bottom of this list.

[2019-05-14 13:41] KFlash commented on #4
I'm closing this :)

[2019-05-14 13:41] #4 closed

[2019-05-15 01:58] KFlash commented on #3
@axefrog This is  perf benchmark so you can see the perf differences. Acorn is really fast :)

![perf2](https://user-images.githubusercontent.com/31855118/57743503-df7cab80-76f7-11e9-9290-dcd7826558fa.png)

[2019-05-15 03:12] jpike88 opened #5 "Syntax error on valid javascript code"
[code]

[2019-05-15 03:13] jpike88 commented on #5
https://raw.githubusercontent.com/ag-grid/ag-grid/master/dist/ag-grid-community.js

This file contains those lines

[2019-05-15 03:19] KFlash commented on #5
Thanx for this :) I'm actually in the middle of fuzz testing the source so will fix it shortly!

[2019-05-15 03:21] jpike88 commented on #5
Thanks, I'm working closely with the fuse-box project, apparently this library totally kicks ass so keep up the good work :)

[2019-05-15 03:33] KFlash commented on #5
The issue was that "async" isn't seen as a "ordinary" ident so I just forgot to make async ident assignable :)

Fix is coming within a few minutes

[2019-05-15 03:34] #5 closed

[2019-05-15 06:06] jpike88 commented on #5
Thanks, I understand @nchanged is getting a custom build from you, should that sit on a branch here? Or is it too weird

[2019-05-15 07:11] nchanged commented on #5
@KFlash can't wait for the build

[2019-05-15 08:23] KFlash commented on #5
I just got home. Will fix you a build soon.

[2019-05-15 10:51] KFlash commented on #5
@jpike88 I keep customs on my HDD :) And just delivered a new custom build to @nchanged

[2019-05-15 20:56] axefrog commented on #3
Hey sorry for the slow reply. I tend to dive into my work and when I come up for air, several days have passed...

You've sold me - I've decided to switch to meriyah shortly. I think that while the goal of writing code in a way that makes it easy for others to modify is admirable, I actually left that camp a while ago when I realised that facilitating "standard" modes of thinking is often orthogon

[2019-05-16 00:05] KFlash commented on #3
I'm in need of human feedback now on Meriyah. I ran several fuzzers and they are all running without issues, but I'm 100% sure there still exist edge cases I have missed. So glad to hear you will report here if you come across a odd edge case :)

My next step now will be to optimize the code even further before I'm implementing scoping locations I guess, but that have to wait. I will be gone for 5

[2019-05-16 00:47] KFlash commented on #3
@axefrog The performance is actually better in real world parsing comparing to other parsers.
I think @nchanged can testify on that?

[2019-05-16 04:45] nchanged commented on #3
Here here :) stability, speed and memory consumption is impressive

[2019-05-18 02:20] axefrog commented on #3
Just switched my code to drop Meriyah in place of Cherow. All fine, though currently my hottest paths are external to the parser, so I can't report on performance differences at this stage. I imagine this will change sooner or later, as I'm using Cherow (now Meriyah) in my bootstrapper, which isn't overly efficient, but which I needed to facilitate my current stage of development. I'll likely be t

[2019-05-21 22:46] KFlash commented on #3
@axefrog I'm closing this for now.

[2019-05-21 22:46] #3 closed

[2019-05-24 01:15] KFlash commented on #1
**Note:** At this stage all edge cases seems to have been covered, and the parser passes all stress tests and the fuzzers I'm using, so I'm now soon going to move on to the next step.

[2019-05-26 23:56] KFlash commented on #2
Closing this as solved.

[2019-05-26 23:56] #2 closed

[2019-05-26 23:58] KFlash commented on #5
@jpike88 @nchanged No more need for custom builds. See https://github.com/meriyah/meriyah/issues/2

[2019-05-26 23:59] KFlash commented on #4
@nchanged I consider this issue as solved now. See https://github.com/meriyah/meriyah/issues/2

[2019-05-27 10:07] KFlash commented on #1
**Update:** Location tracking in progress!. First to land will be ranges, but tricky to implement so will take a few days.

[2019-05-27 23:47] KFlash commented on #1
Location tracking is WIP ATM, and first to land within a few days will be ranges. Start and end values on the node. Note  that whatever I do the performance will drop.

**Benchmark results without ranges:**

![withoutloc](https://user-images.githubusercontent.com/31855118/58442315-b5c27c00-811c-11e9-8e24-2da3c366e227.png)

**Benchmark results with  ranges:**

![withloc](https://user-images.githubu

[2019-05-28 02:21] KFlash commented on #3
@axefrog I remember one of your issue tickets from Cherow regarding location tracking. I'm in the process of implementing ranges on each AST node now. Is it sufficient for now?

Because I'm retired I'm not taking any shortcuts anymore, and the ranges implementation is some tricky piece of shit to fix. Totally different than what's done in other parsers, but at least I maintain the performnance :)

[2019-05-28 02:25] axefrog commented on #3
I will need location tracking, but not for a while as it'll be used in an area of my code that I'm not working on at the moment.

I wholeheartedly support doing things properly over rushing them out the door. I've been working on my project full time for several years now, and getting it right has always taken absolute precedence over getting it done inside some arbitrary timeframe.

[2019-05-28 02:47] KFlash commented on #3
Ok. But expect a little performance loss when ranges are used. There is no way I can avoid it, but I managed to reduce a huge loss of performance.

**Without ranges:**

![withoutloc](https://user-images.githubusercontent.com/31855118/58447064-c501f380-8135-11e9-81d7-afa5db306c4c.png)

**With ranges:**

![withloc](https://user-images.githubusercontent.com/31855118/58447079-d0551f00-8135-11e9-8803-6

[2019-05-28 02:48] axefrog commented on #3
Makes sense. 👍

[2019-05-28 18:17] futagoza commented on #3
@KFlash If ranges were made optional (e.g `options.ranges = false`), would it help to keep performance when ranges aren't required, or would that still add a performance hit due to the conditional check?

[2019-05-28 20:48] KFlash commented on #3
@futagoza ranges are optional. Or at least it will be. Performance will suffer regardless, because of this, but the way I'm implementing this - passing start values as function args - the performance loss is minimal.
My first attempt was to pass the end position as well, but too much conditional checks and  branching involved. That again killed performance.

Expect a 20ms performance difference wh

[2019-05-28 23:15] KFlash commented on #3
@futagoza @axefrog Within a day I guess the ranges will be merged into Master branch. It have been implemented now, but I need to optimize this.

**Note:** Because of the internal modular approach I'm using - the location tracking should be faster because the code are only executed once needed. Not like in a ordinary parser :)

[2019-05-30 07:48] KFlash commented on #1
Lexical scope is on hole for now. Not sure if I'm going to do this inline or what...  So closing.

[2019-05-30 07:48] #1 closed

[2019-05-30 22:43] KFlash commented on #3
@futagoza @axefrog Ranges have been implemented, and the performance loss is minimal without ranges.

**Without ranges:**

![withoutloc](https://user-images.githubusercontent.com/31855118/58669569-44c6d280-836f-11e9-8818-01f72f524a1f.png)

**With ranges:**

![withloc](https://user-images.githubusercontent.com/31855118/58669577-4abcb380-836f-11e9-9863-1e45d2e095f8.png)

[2019-05-30 23:55] axefrog commented on #3
Nice work! For a retiree, you sure work fast ;)

[2019-05-31 22:43] KFlash commented on #3
Until now, Cherow has been the fastest parsers, and actually it's hard to beat it's performance. This benchmark results give you a qlue about the differences between Cherow and Meriyah when it comes to performance.

The first results are with location tracker.

![yup](https://user-images.githubusercontent.com/31855118/58738467-748ddd00-8438-11e9-934e-b934624d24dd.png)

[2019-06-05 17:16] calebboyd opened #7 "Parsing Typescript?"
I know this was attempted with cherow. Is typescript parsing a goal with this greenfield project?

[2019-06-05 17:52] nchanged commented on #7
I would love to see that!

[2019-06-06 01:16] KFlash commented on #7
I'm not sure what the future brings. As you may know I'm retired and Meriyah is just my little experiment project where I try to do everything in a different way that haven't been done before. And also in the most craziest way to make sure things are fast as possible and match the specs 100%.

So as it is now. I'm focusing on the ECMA standards, but I'm open for anything in the future.

Regarding

[2019-06-09 01:14] KFlash commented on #7
Just to mention it. Meriyah will be or still are 100% spec compat **only if* you turn on all the options.
I'm now implementing lexical scoping and you would need to set the `lexical` option to true to get it working.

It is also worth mentioning that all parsers have implemented support for additional ECMAScript features for Web Browsers - popularly known as AnnexB.

Meriyah doesn't support AnnexB

[2019-06-10 17:50] #7 closed

[2019-06-18 06:09] KFlash commented on #1
Lexical binding and scope tracking have been implemented and can be enabled with the new `lexical` flag.

[2019-06-18 23:14] KFlash commented on #3
@axefrog Meriyah REPL: https://meriyah.github.io/meriyah/

[2019-06-24 02:43] KFlash opened #9 "ECMAScript compability"
Out of the box Meriyah is 100% ECMA spec compatible, but it's main focus is on performance.
Therefore, you must enable several [options](https://github.com/meriyah/meriyah#options) by your own choice to make sure your code parses with 100% ECMA spec compability.

Also note that support for additional ECMAScript features for Web Browsers (*annexB*) isn't enabled by default as in other parsers, but

[2019-06-24 02:49] KFlash commented on #9
@aladdin-add Do you want to write some docs?

[2019-06-26 00:42] KFlash commented on #9
Closing. Moved the info to the readme.

[2019-06-26 00:42] #9 closed

[2019-06-26 07:20] KFlash commented on #7
@calebboyd To answer this question. Meriyah as a JS parser will not parse TS, but there will be a meriyah-ts parser in the future that will parse TS. You can find the repo [here](https://github.com/meriyah/meriyah-ts)

No time frame on this for now.

[2019-06-26 14:21] arv opened #10 "Performance comparison"
The claim that this is focused on performance is not backed by numbers. Maybe add a some performance tests and numbers

[2019-06-26 14:27] aladdin-add commented on #10
Yeah It's just on the way! 👍

[2019-06-26 14:31] KFlash commented on #10
@aladdin-add you can find the old benchmark [here](https://meriyah.github.io/meriyah/performance/), but in Meriyah the performance depends on the option you set and it's not adjusted so I didn't make the URL public .

And also a new REPL will be launched either today or tomorrow

[2019-06-27 00:58] KFlash commented on #10
@aladdin-add Any progress on this?

@arv Just note this parser also are optimized for parsing large files. 5 MB or more. And uses less memory. That can't be shown in any benchmarks.

However if you try to parse `TSServer` (7 MB) with `ASTExplorer` the entire browser "snap" and you need to refresh. And if you try it with the [Esprima REPL](http://esprima.org/demo/parse.html) you can't even paste in

[2019-06-29 01:09] KFlash commented on #10
@aladdin-add I added a link to the old benchmark in [meriyah REPL](https://meriyah.github.io/meriyah/). You can tweak and update the design on that one?

Closing this now as solved.

[2019-06-29 01:09] #10 closed

[2019-06-29 12:49] aladdin-add opened #12 "tslint => eslint"
refs: https://eslint.org/blog/2019/01/future-typescript-eslint

[2019-06-30 04:01] KFlash commented on #12
@aladdin-add I did read the blog post, but I still think that TS parser will be very slow the way they doing it, but it's a step in right direction.

Seen the [Meriyah TypeScript parser repo](https://github.com/meriyah/meriyah-ts) ?

[2019-06-30 04:15] aladdin-add commented on #12
is it available atm?
hopefully we can replace `@typescript-eslint/parser` to `meriyah-ts` in our codebase, dogfooding  :tada

[2019-06-30 04:32] KFlash commented on #12
Not done **yet**. It's my next retirement project. For now it only does javascript parsing, but I started to get it to accept TypeScript syntax now.

[2019-07-01 10:18] #12 closed

[2019-07-02 20:43] Jaxkr opened #14 "Comment extraction?"
Been looking for a JavaScript parser for a developer tool project I'm working on, and I am so glad I stumbled upon yours, as it it standalone, fast, and compliant.

However, I was curious if there was any support for extracting comments and returning them from a parse. I started digging through the source code and it looks like I could collect comments by adding functionality to `skipSingleLineCom

[2019-07-02 23:48] KFlash commented on #14
Hi. My biggest concern is as always performance regression, but if you want to it's okay you implement this.  I think implementing this as a callback function as in `Acorn` is the right way to go, and it's easiest. You just add a third arg to create. `L48` in `parser.ts`. And more or less copy exactly how I did implement the `source` option. Se  `L214` .

And the missing functionality for collect

[2019-07-03 06:16] KFlash opened #15 "Implement JSX syntax parsing"
This issue ticket exist just to keep track of JSX implementation.

This is WIP at the moment, and a new option - `jsx` - will be added to allow JSX syntax parsing.

[2019-07-05 00:16] KFlash commented on #15
@aladdin-add Any ideas about JSX annotations? How should we handle them?
`/** @jsx CUSTOM_DOM */<a></a>`

[2019-07-05 00:18] KFlash commented on #14
@Jaxkr If you implement this, you maybe should add a `jsx: true` / `jsx: false` property on the comment output in cases like this `/** @jsx CUSTOM_DOM */<a></a>`.

See https://github.com/meriyah/meriyah/issues/15

[2019-07-05 05:16] KFlash opened #17 "Implement support for type annotations"
Estree has a [type annotation extension](https://github.com/estree/estree/blob/master/extensions/type-annotations.md), so maybe implement support for this and hide it behind a flag?

This will help when fixing the Meriyah TypeScript parser

cc @aladdin-add @nchanged

[2019-07-05 15:36] #15 closed

[2019-07-06 13:20] KFlash commented on #17
Closing as this is not part of the ECMASpec and will not be implemented.

[2019-07-06 13:20] #17 closed

[2019-07-10 11:37] mamaniv opened #18 "ParseError: Illegal return statement"
I get ParseError: Illegal return statement for code that includes return statement on the module body, outside function call.

Minimum code to reproduce:
`const meriyah = require('meriyah');`
`const tree = meriyah.parse('return;'), {
        ranges: true
      });
`

I know that this usage is not a best practice, but it works and it is supported by other parsing modules like Esprima.

[2019-07-10 12:29] nchanged commented on #18
@mamaniv I believe `globalReturn: true` is the option you need.

[2019-07-10 13:19] mamaniv commented on #18
@nchanged Thank you, it works now!

[2019-07-10 13:19] #18 closed

[2019-07-13 00:09] KFlash commented on #7
@calebboyd You can track my progress [here](https://github.com/buntis/buntis) for a TypeScript parser. Everyone seems to want a TS parser, and there was  no way possible to extend Meriyah  to accept TS syntax so I'm developing a new parser from scratch.

[2019-07-13 15:59] KFlash commented on #14
@Jaxkr Is this something you want to add a PR for? I'm kind of stuck with the TS parser madness so have time just now.

[2019-07-14 19:32] davidbonnet opened #20 "Unexpected token after do...while statement"
Hats off to the design and performance of this insanely great parser. 👍

It would be a great companion to [Astring](https://github.com/davidbonnet/astring) once this is resolved: the following code (which comes from [here](https://github.com/davidbonnet/astring/blob/master/src/tests/fixtures/tree/es6.js#L195)) provokes an error:
[code]

[2019-07-14 22:53] KFlash commented on #20
Hi. That's actually not an bug. The issue is that all parsers include V8 have implemented this wrong.

`doStatement[?Yield, ?Await, ?Return]while(Expression[+In, ?Yield, ?Await] ) ; `

**Note** the semicolon at the end, and it's not optional.

Would it be easier if I provide a option to workaround this?

[2019-07-15 00:43] axefrog commented on #20
It's an interesting question - purity vs pragmatism - if the majority of the world's JavaScript engines have edge cases that deviate from the spec, and we assume that Meriyah is being used to support software that runs in these environments, is it better to support these edge cases as de facto standards? How much does a workaround force you to introduce undesirable behaviour into the code? Is ther

[2019-07-15 01:15] KFlash commented on #20
I agree this is an interesting case, and kind of hard to directly solve it because Meriyah should be 100% spec compatible, and disallow backtracking and "*lookaheads*" to reduce memory usage. That¨s the design idea behind this parser. Then again it would be easier if other parsers followed the specs, but as in this case this edge cases seem to be a de facto standard.

The only solution for this is

[2019-07-15 01:46] KFlash commented on #20
I think I solved in. You can use the new `deFacto` option. I also updated the [REPL](https://meriyah.github.io/meriyah/) to accept the new option. Just enable `Allow spec deviaton`.

[2019-07-15 11:15] KFlash commented on #20
I'm closing this as solved.

[2019-07-15 11:15] #20 closed

[2019-07-15 18:44] davidbonnet commented on #20
It does, awesome!

[2019-07-16 10:01] KFlash opened #21 "Performance improvements"
Just now Meriyah is twice as fast as Acorn and uses less memory. Next goal is to make this parser 3x faster than Acorn  which means a lot more bit masks, and optimize the hot paths.

[2019-07-17 11:53] mamaniv opened #22 "Illegal async arrow function parameter error"
Hi, I get `Illegal async arrow function parameter list` error

Here is the minimum code to reproduce the issue:

`
const sourceCode = "func('str', async param => {});"
`
`
meriyah.parse(sourceCode, {
          ranges: true,
          globalReturn: true
        });
`

BTW, I'm using Meriyah 1.3.4

Is it a known issue or is there any configuration that I missed?
Thanks.

[2019-07-17 13:13] #22 closed

[2019-07-17 13:13] KFlash commented on #22
Just use Meriyah 1.3.5 :)

[2019-07-17 13:52] mamaniv commented on #22
1.3.4 is the latest in npm

[2019-07-17 14:00] KFlash commented on #22
I published 1.3.5 to NPM 1 hour ago.

![npm](https://user-images.githubusercontent.com/31855118/61381867-4a0bbc80-a8de-11e9-87f4-023892585691.png)

[2019-07-17 14:07] mamaniv commented on #22
Thank you!

[2019-07-18 00:36] KFlash commented on #21
Due to limitations in the JS language itself, it's almost impossible it seems to improve the performance further. So I'm focusing on reducing memory usage instead and will keep trying to improve the performance when I have time.

And it's mainly on larger libraries we can see the real difference.
**"Normal parsing state":**

![new_m](https://user-images.githubusercontent.com/31855118/61420858-08f3

[2019-07-18 08:44] axefrog commented on #21
Honestly I've never had any complaints about speed. Any improvements are just the cherry on top, as far as I am concerned.

[2019-07-18 13:26] KFlash commented on #21
Extensibility of this parser can't be done. It's only developed for performance reasons :) However my other project - the TypeScript parser - is plugin friendly because of the TS language changes all the time. But it also parses JS.

Next release of Meriyah will include changes for reduced memory usage, and improved performance for parsing larger libraries.  1MB or larger. It can already now handl

[2019-07-18 13:39] futagoza commented on #21
@KFlash What about adding options that change parsing tactics? Would that help?

Of the top of my head right now, the best use case scenario is probably when a user knows there are hot paths in the code, having an option for these would optimise the parser for these specific cases, speeding up the parsing overall. For example, if we take a minified file that's probably under 500kb, we know that mo

[2019-07-18 14:01] KFlash commented on #21
@futagoza Interesting idea :) Do you want to try to take a stab at it? A dog found me too delicious, but lucky for me I was not so tasty as it hoped for so I'm undergoing anti-rabies treatment now and not 100% in shape, plus working on some bit mask improvement.
But it should be easy enough to implement. Just change the logic for where and when to call the internal modules and do some scanner logi

[2019-07-18 14:21] futagoza commented on #21
I would actually love to take a stab at it, but first I'll try and dig my way through the code more to better understand it (so far I've only tried looking at what you've done with bitmasks because I've never actually used them before 😆).

Are you okay with the option name `inputIsMinified`, or should I use something else? e.g. `minified`

Then again, if it goes down the road for optimising for ot

[2019-07-18 14:52] KFlash commented on #21
The bitmask logic is straight forward and mostly used for destructuring and assignment. Only thing to be aware of here is that is the binding origin and binding type. This have slightly changed the last days so I will push that code within shot time to avoid conflicts. The rest of the bitmasks is either options
and / or tracking the current parser state e.g. async and yield or top level.

`inputIs

[2019-07-19 22:39] KFlash commented on #14
@Jaxkr I implemented this now, so I'm closing this issue as it will land in v. 1.4.

[2019-07-19 22:39] #14 closed

[2019-07-20 22:52] KFlash commented on #21
This benchmark show the result between 1.3 and 1.4. I can't improve the performance more than this.

The first file have a file size of 8 MB. I can't do a comparison with other parsers now because they can't handle such huge files. My browser freezes.

V. 1.4 isn't stable enough to get published yet.

![large](https://user-images.githubusercontent.com/31855118/61584955-c2df7280-ab83-11e9-8f2d-b1f5

[2019-07-22 00:18] KFlash commented on #21
@futagoza If you plan to do any changes. Work against the [v. 1.4 branch](https://github.com/meriyah/meriyah/tree/v.1.4)

[2019-07-23 08:28] KFlash commented on #21
Closing this now as v. 1.4 have been pushed to the Master branch, but not pushed to NPM yet.
Current v. 1.4's performance have been improved with around 14% - 20% over v. 1.3

![1 4](https://user-images.githubusercontent.com/31855118/61695753-aa7b7d80-ad66-11e9-85b7-fa23eb8becfd.png)

[2019-07-23 08:28] #21 closed

[2019-07-23 09:10] xuld opened #23 "Missing some important features"
### 1. Option `{ tolerant: true }`
The parser should smart enough to skip syntax error and continue parsing

### 2. Option `{ skipShebang: true }`
The parser should be able to skip leading `#!`

### 3. Exporting `Options` & `ESTree` in meriyah.d.ts

### 4. The parameter `options` should be optional, rather than adding a `void` type annotation, e.g.

[code]

### 5. Missing `type` property in type `

[2019-07-23 09:32] KFlash commented on #23
Hi. You are mixing what is a feature and what's a possible issue with the code itself. I reply on the feature part first.

A tolerant mode as you may know if from other parsers isn't a bullet proof solution. In the future I plan to implement a editor mode to handle such cases.

When it comes to skipping shebang - the (Hashbang grammar)(https://github.com/tc39/proposal-hashbang) is a Stage 3 propos

[2019-07-23 09:44] KFlash commented on #23
This should have been solved now, so closing.

[2019-07-23 09:44] #23 closed

[2019-07-23 10:50] xuld commented on #23
I don't care about the file size of .d.ts files
For types, maybe directly depends on @types/estree is a good idea

### 7. Include `endIndex` or `endLine/endColumn` in SyntaxError
### 8. Donot prepend [line:column] in SyntaxError.message
In some cases, user will display source locations in their own way(for example: in vscode's error panel), the raw error message is required

p.s Why use `descripti

[2019-07-23 11:13] KFlash commented on #23
With Meriyah I try to follow what's already have been established as a standard among other parsers to be as compatible as possible. The only exception here is Babel's ESTree AST. And the fact web compability isn't enabled by default.

Why not open a PR with some of your suggestions regarding the error code?

Errors for me until now have had a low-priority because I plan to implement a editor mode

[2019-07-24 21:55] KFlash commented on #21
v. 1.4 have landed, and live benchmark can be run [from here](https://meriyah.github.io/meriyah/performance/)

I think it's very obvious that Acorn have a performance issue 👍

![cold](https://user-images.githubusercontent.com/31855118/61831569-c4b97680-aea0-11e9-99bb-82e6dc764b37.png)

[2019-07-27 00:26] aladdin-add opened #24 "package name?"
"meriyah" is a sort of, emm.... awkward-sounding. do we want a better name?

"buntis" is built on the top of "meriyah", but it's a bit unrecoverable for users -- it's not in the group, and has a unrelated name. 😂

[2019-07-27 02:10] KFlash commented on #24
@aladdin-add 'meriyah' is maybe awkard-sounding, but etablished now so can't change it I guess.

'buntis' is a stand-alone parser and not build on top of Meriyah. If you look at the source code of it, the differences are huge. They have mostly nothing in common

[2019-07-27 21:54] KFlash commented on #24
Closing this as I think I answered the question.

[2019-07-27 21:54] #24 closed

[2019-07-30 12:53] nchanged opened #25 "certain bug: Illegal async arrow function parameter list"
**version**: 1.4.8
Snippet:
[code]

Throws `Illegal async arrow function parameter list` (also reproducible in the REPL)

Observations: commenting out `const someVar = null;` fixes the problem.

Can be found in the npm package `electron-updater` right here `node_modules/electron-updater/out/AppUpdater.js`

Related issue: https://github.com/fuse-box/fuse-box/issues/1570

Being parsed without any is

[2019-07-30 16:10] leeoniya commented on #25
@KFlash have you considered doing something like https://github.com/rust-lang/crater#crater- against large/popular NPM or github repos? i think it would quickly uncover more "edge" cases.

[2019-07-30 18:19] nchanged commented on #25
@leeoniya the best way to test it is to run against as many libraries as possible. That I can provide, FuseBox' users started adapting the new version based on meriyah.

[2019-07-31 03:37] KFlash commented on #25
@leeoniya I will try to validate against as some libraries soon as I get time. ATM. What @nchanged mentioned is the best solution.

Beside that I'm stress testing the code entire time, and run 3x different fuzzers and so on.

**But** to be honest. It's a known issue for me that async and async arrows are troublesome because I'm parsing this in a different way than what the specs says to avoid tons

[2019-07-31 06:23] nchanged commented on #25
[code]
This bug hasn't been fixed. Which makes me think there are more similar cases. @KFlash please take a look at all possible variations.

[2019-07-31 07:07] KFlash commented on #25
@nchanged Are you sure about this? Btw. Your example is invalid. Missing a right brace.

[2019-07-31 07:28] #25 closed

[2019-07-31 07:33] KFlash commented on #25
@nchanged FYI. This bug was caused because of a mutual parser flag and validation against it. This flag  have been replaced with a func arg `assignable` and validations against that arg instead. You can [find it here](https://github.com/meriyah/meriyah/blob/master/src/parser.ts#L7218). This means that this bug will never happen again, and everything related to it can't happen either. So permanentl

[2019-07-31 15:15] KFlash commented on #25
@leeoniya @nchanged Parsed a lot of libraries now but couldn't find any issues or "edge cases".
I added a bunch of new tests just to be sure. Even the [Chinese language](https://github.com/meriyah/meriyah/commit/a33701b5e858a3df5d9473625c62ca11bbf4c639#diff-4b7d31f06c9c0b006d6ac23de5edd1d9R14369-R14387) is very well supported :)

[2019-08-02 04:38] KFlash opened #27 "Implement optional chaining"
Has to implement optional chaining, but has to wait for ESTree.

https://github.com/tc39/proposal-optional-chaining

WIP PR here: https://github.com/meriyah/meriyah/pull/28

[2019-08-02 12:47] KFlash commented on #27
Closing as there is a pending PR ready to be merged soon as the ESTree specs are settled.

[2019-08-02 12:47] #27 closed

[2019-08-03 01:15] KFlash opened #29 "Implement TopLevel Await (Stage 3)"
Need to implement support for toplevel await - Stage 3 proposal.

Proposal: https://github.com/tc39/proposal-top-level-await

Test262 tests: https://github.com/tc39/test262/pull/2271/files

[2019-08-05 15:13] #29 closed

[2019-08-06 14:00] KFlash opened #30 "Info - Issues with TypeScript and production builds"
FYI! I have recently experienced multiple issues where the TypeScript compiler bundle the Meriyah source code wrong.

This is very hard for me to catch because all test cases pass as normal and the code works as normal - see CircleCI.

I only notice this if some code doesn't work in the REPL.

Most common issues

- `const enum` values for tokens
- `const enum` values for bitmasks

If you are using

[2019-08-06 14:09] KFlash commented on #30
I used 2 hours to track one stupid issue, so to explain better.

`Token.QuestionMarkPeriod` have value `67108988`.  When bundled only in the lexer code that token had that value. **Same token** in `parseMemberOrUpdateExpression` had value `67108989`.
The value had increased with `+1`.   That broke most of the `ES next` implementation.

Dunno how it got fixed, but I tried to trick the TS compiler a

[2019-08-06 14:51] KFlash commented on #30
Closing this to avoid confusing people :) I found a way to guard against it - extended the API tests so I will catch the issues before they become a issue for the end-users.

[2019-08-06 14:51] #30 closed

[2019-08-07 05:26] xuld opened #31 "Type `FieldDefinition` missing property `type`: 'FieldDefinition'"
of version 1.6.1

Besides, why do you delete `export { Options, ESTree }` again in 1.6

[2019-08-07 05:42] KFlash commented on #31
Thanks for the info! It haven't been always been me doing the Meriyah code. A few previous students of mine did some contribution. And that should answer your question why `export { Options, ESTree }` have been removed in v. 1.6.

They did more flaws so I'm actually doing a refactoring of the entire parser ATM. Soon after I'm done I will release a v. 1.6.2 with the fixes you mentioned.

[2019-08-07 09:39] #31 closed

[2019-08-07 09:44] KFlash commented on #31
Pushed a v. 1.6.2 with a fix. My refactoring isn't done, but the code is stable and working as you can see from this fuzzer picture

![stable](https://user-images.githubusercontent.com/31855118/62612843-df78fa00-b93a-11e9-84d0-bd27762776ae.png)

[2019-08-11 02:33] KFlash opened #33 "Stable and feature complete"
Meriyah is now stable and feature complete **and** can be used in production.

99k unit tests should cover the most common cases.

The performance is **okay**. Twice as fast as the Acorn parser.

So from now on only bug fixes will be done if bugs exist, and new language features such as Stage 3 will be added soon as they are ready.

cc/ @axefrog @nchanged @aladdin-add @fkleuver

[2019-08-11 03:17] KFlash commented on #33
![speed](https://user-images.githubusercontent.com/31855118/62829141-95896000-bc29-11e9-87f6-bff787be3fc1.png)

[2019-08-11 03:19] axefrog commented on #33
@KFlash Great work. Much appreciated on my end :)

[2019-08-11 04:19] KFlash commented on #33
@axefrog After replacing my old students with a new one I finally pulled this off :) Time to move on to other projects.

![students](https://user-images.githubusercontent.com/31855118/62829520-4267db00-bc32-11e9-9f39-59ea37b896ce.jpg)

[2019-08-12 03:49] xuld opened #34 "The type `BindingPattern` may be incorrect"
The source of `BindingPattern` is (estree.ts#137):
[code]

[2019-08-12 04:33] KFlash commented on #34
@xuld Hi. You shouldn't blindly follow the ESTree types in Meriyah because the parser uses a internal module system and parses things in a different way even the output will be correct.  E.g. in `ESTree` the `YieldExpression` is part of the `AssignmentExpression` and same in the ECMA specs. In Meriyah this is part of `PrimaryExpressionExtended`.

Regarding the `BindingPattern` it looks incorrect,

[2019-08-12 04:51] #34 closed

[2019-08-12 04:51] KFlash commented on #34
Made a little "fix" for this. Hope that helps :)

[2019-08-12 04:54] xuld commented on #34
It' ok that `ArrayExpression` and `ArrayPattern` are both returned by a same function(`parseArrayExpressionOrPattern`)

In fact, the return type of parseArrayExpressionOrPattern is determined by the parameter `isPattern`, and in `parseBindingPattern`, the `isPattern` argument is always true:

[code]
So `parseBindingPattern` will never return `ArrayExpression`

It will be better to use method overl

[2019-08-12 04:59] KFlash commented on #34
I agree with your in that, but I'm on mobile now and stuck with some other stuff. Could you do the change and open a PR ?

[2019-08-12 05:45] xuld opened #35 "ESTree node type table"
I've add an example to each  estree node type. Maybe useful to someone.

Check check :)
### Declarations 声明

| Node Type                | Example                  | Chinsese Transition |
| ------------------------ | ------------------------ | ------------------- |
| Program                  |                          | 程序                |
| ImportDeclaration        | `import foo from "path"` | 导入声

[2019-08-12 07:52] xuld commented on #34
I'd like to, but the project is too large and git clone fails several times, thanks to CN great wall

[2019-08-12 09:07] KFlash commented on #34
Ok. I will look into this soon as I'm finished with what I'm doing ATM - creating the worlds fastest regex validator 👍

[2019-08-12 11:18] KFlash commented on #34
@aladdin-add Is this something you could look into and fix?

[2019-08-13 01:59] KFlash opened #36 "Use of "native" regular expressions"
Meriyah uses the regex validator in NodejS and your browser by default, and doesn't do any validations by itself. Issues regarding regular expressions is out of the scope for this parser.

It was a design choice not to include it's own validator because the file size would increase with around 30 KB, but I may change this in the future because I have my own regex validator.

![regneck](https://use

[2019-08-14 05:04] KFlash commented on #36
Closing as not important ATM.

[2019-08-14 05:04] #36 closed

[2019-08-21 20:03] lawrence-dol commented on #33
Very good. What is the recommended way to obtain the final JS? It seems like the project only contains source artifacts and no builds. I really don't want to install everything needed to do the build just to use the code.

[2019-08-21 21:56] leeoniya commented on #33
check out the dev branch /dist

https://github.com/meriyah/meriyah/tree/dev

[2019-08-21 22:15] lawrence-dol commented on #33
Thanks @leeoniya! I was expecting this to be in the master branch, not dev. Never even occurred to me to look there.

[2019-08-22 01:18] futagoza commented on #33
You can also use https://unpkg.com/meriyah

[2019-08-22 03:27] aladdin-add commented on #33
for most users, it's recommended to use via npm;
[code]

[code]

maybe the docs can be improved. PRs are welcome! :)

[2019-08-22 09:51] vintprox commented on #33
So, it's turbo and can be used in browser runtime? 😃

[2019-08-22 18:46] lawrence-dol opened #37 "Incorrect Line Numbers Reported"
I am using Meriyah with GraalVM to validate Javascript source in my code editor. I am using the version from the `dev` branch from commit 96eb15f, dated 2019-08-21.

Given the code:

[code]

The line reported from Meriyah for the error is:

[code]

Which was immensely difficult to figure out.

After a long time I noticed the missing `=` at line 109. Then I used the browser to locate the error and

[2019-08-22 19:56] #37 closed

[2019-08-22 20:58] lawrence-dol commented on #37
I implemented this fix, and it still reports the incorrect line number (note that the *column* is correct, being the `s` of `this` at line 109). It seems that line `parser` has been modified because the current token is advanced before the error is detected and thrown.

[2019-08-22 22:22] lawrence-dol commented on #37
I've found the problem. My file was saved using CRLF line breaks. When this is done, *all* line numbers are out, but *not* by the number of lines up until that point. So under some, but not all, conditions `CR` is adding to the line count.

[2019-08-23 00:41] KFlash commented on #37
I'm not sure what's going on, but for every newline the line count is increased. That's normal. See [here](https://github.com/meriyah/meriyah/blob/master/src/lexer/common.ts#L66).  And for CRLF same if CR was not found first. So there shouldn't be any issues here.
Regarding `this`. It's now automatically get it's line and column values right before the token is consumed and not passed down as an a

[2019-08-23 01:02] lawrence-dol commented on #37
@KFlash : Line 109 was a typo, and should've been `var prp = this.props;` but I'd accidentally omitted the equals and got the error in the OP. The problem being that Meriyah reported the wrong line number.

It's definitely not counting lines correctly if the file uses CRLF line-endings; I can switch between CRLF and LF and see that with the former the line number is consistently out, reporting 121

[2019-08-23 01:25] KFlash commented on #37
@lawrence-dol Still not sure what's going on here. I just ran a bunch of tests against Acorn and got the exact same results.
See this test file
https://github.com/meriyah/meriyah/blob/master/test/parser/miscellaneous/crlf.ts

[2019-08-23 01:26] lawrence-dol commented on #37
I think the bit manipulation `state |= 1 | 4;`, which occurs twice, is wrong, since it equates to `state = state | (1 | 4);` => `state = state | 0;`, which has no effect. This means that the ensuing `scanNewLine(parser);` will almost certainly do the wrong thing, at least sometimes.

As an aside the bit manipulation `state = (state | 4 | 1) ^ 4;` seems convoluted to me as well (without thinking ab

[2019-08-23 01:29] lawrence-dol commented on #37
@KFlash : I believe the test you referenced is invalid for this case, because it doesn't replicate the conditions required to trip the fault, which will be a specific sequence of CRLF. I will attempt to reproduce them, but I am sure it will be related to the failure to set bits 3 and 1 in the two places I pointed out.

[2019-08-23 01:41] lawrence-dol commented on #37
The problem lies with single line comments. The line is out by one for every preceding SLC, whether or not they are on a line by themselves or after some code. Simplest replication:

[code]

Alter the number of comments and the reported line changes.

[2019-08-23 01:45] KFlash commented on #37
I'm working on it. Try to see if you see any differences with 1.6.12. I just pushed it to NPM.

[2019-08-23 02:18] lawrence-dol commented on #37
1.6.13 seems to have resolved the problem.

[2019-08-23 02:19] KFlash commented on #37
Good to know :)

[2019-08-23 02:21] lawrence-dol commented on #37
Thanks for working with me on this. Apologies for the misleading bit about `state |= 1 | 4;` -- apparently my bit-fu is rusty.

[2019-08-23 02:28] KFlash commented on #37
No problem. Issue was very easy, and the way you investigated and described things was very helpful :)

[2019-08-26 01:59] xuld opened #38 "meriyah crashes when parsing specific js"
[code]

(input.js is uploaded as attachment)

Output:

[code]
[input.zip](https://github.com/meriyah/meriyah/files/3539133/input.zip)

[2019-08-26 02:35] KFlash commented on #38
@xuld I'm not sure why this happened to you. But your input.zip code is a mix of both TS and JS, and also invalid for a JS parser :)  Like this line: `readonly typeScriptCompilers = new Map<string, TypeScriptCompiler>()`

If you try this in the [online REPL](https://meriyah.github.io/meriyah/) you will notice it doesn't crashes  at all, but it throws an error on line 9:29.

[2019-08-26 02:46] xuld commented on #38
It is TypeScript, but it should report syntax error, rather than crashing

[2019-08-26 03:54] #38 closed

[2019-08-26 03:55] KFlash commented on #38
@xuld It should have been fixed now.

[2019-08-26 05:32] KFlash opened #39 "Error recovery"
It's on my TODO to add error recovery to Meriyah from v. 2.0. The code is still experimental, and not usable yet. And it can only recover from lexer.

This is somehow similar to what Babel does in this PR https://github.com/babel/babel/pull/10363 , but with Meriyah I plan to add both recovery and incremental parsing, so it can recover from **all errors**.

The bad news with this is that I may refa

[2019-08-26 14:55] KFlash opened #40 "Port code from recovery lexer to master branch"
RL are taking up all my time now, so just dumped my "recovery lexer" code on the **recovery branch**.  Some part of the lexer code is either new or a improvement over what exist on the **Master branch** now and can be ported before bumping version to v. 1.7.

I didn't care about fixing lint errors, but all tests pass. And it recover from all lexer errors as seen [in this tests](https://github.com/

[2019-08-26 23:43] KFlash commented on #39
RL take all my time now, but latest recovery code I was working on can be found in the **recovery branch**. The lexer is almost done, and the parser doesn't die on invalid syntax, but require a lot of work :)

**Example:**

[code]

Outputs:

[code]

cc / @aladdin-add Thoughts?

[2019-09-01 01:35] KFlash commented on #39
Closing as this will land in 2.0.

[2019-09-01 01:35] #39 closed

[2019-09-01 01:36] KFlash commented on #40
Closing as I already copy & paste from the new lexer code where it's possible. The other changes will land in v. 2.0.

[2019-09-01 01:36] #40 closed

[2019-09-01 03:35] KFlash commented on #33
Closing this info as it's stable.

[2019-09-01 03:35] #33 closed

[2019-09-03 20:55] jdalton opened #42 "Pointers for generating a small build"
Hi!

Thanks for putting so much into meriyah. I'm looking for pointers for generating a small build that only detects dynamic `import()` use _(possibly later expanding to `eval()` use)_.

[2019-09-03 22:59] KFlash commented on #42
Not 100% sure what you are looking for, but the internals of Meriyah make everything possible, and are modular.  That means you can import only basic from the core and e. g. modify `parseStatementListItem` to something like this

[code]
Then when you do this `parse('hello!');` it will only return a parsed identifier AST node. This haven't been documented, but it's how it's done in locale build as

[2019-09-04 07:52] nchanged commented on #42
@jdalton not sure what you mean tho.  Meriyah is a full-fledged parser, you can't just take something out.

That's how you detect an `import expression`
[code]

[2019-09-04 17:43] jdalton commented on #42
@nchanged I'm curious if there's a way to create a more targeted build of meriyah that focuses primarily on dynamic `import()`. I'm looking to add this as a more thorough detection to a project but want to minimize the client side size cost of doing so.

[2019-09-04 17:57] calebboyd commented on #42
@nchanged -- this is in line with your goals with fusebox too AFAICT - Basically having a parser that _only_ identifies `import(` `require(` and `import ...` and chews threw everything else. Any bundler or loader shim would benefit a lot from something like that.

[2019-09-05 01:07] nchanged commented on #42
I guess you meant this part https://github.com/fuse-box/fuse-box/blob/master/src/analysis/fastAnalysis.ts

V4 uses it for parsing typescript , and yeah nothing can beat it, but I still rely on meriyah it parse JS

[2019-09-05 01:11] KFlash commented on #42
Interesting... If anyone have a good idea for this or can send a PR, I will welcome it.
As @nchanged knows - I'm now busy until next week with my upcoming TypeScript / Javascript parser for his fusebox bundler, so I can't fully focus on this issue ATM.
[Buntis](https://github.com/buntis/buntis) are developed in the same way as meriyah, and I was thinking that it should be easy to implement some po

[2019-09-06 02:39] jeremy-coleman commented on #42
an ast generator isnt the tool for that job imo. Just do a line by line regexp looking for import( + ) , its a reserved keyword with 1 use, cant really mess that up

[2019-09-06 05:54] jdalton commented on #42
@jeremy-coleman The problem is you don't want a false positive within regexes, strings, template string literals, single or multiline comments. Also you can have comments between `import`, `(`, and `)` so it's non-trivial to match with a regex.

[2019-09-06 11:47] jeremy-coleman opened #43 "location annotation"
acorn and typescript output the line annotations as loc.line and loc.column, but meriyah just adds it as line and column. Even though this is a relatively simple thing to fix, in practice it's going to create a lot of bugs when trying to replace acorn. (I rewrote browserify to use meriyah yesterday, and this came up)

[2019-09-06 12:00] KFlash commented on #43
Hi. Out of the box Acorn outputs both line and column node on the AST node. This is off by default in Meriyah, but you can use the `range` option to enable it.
If you enable the `loc` option you will get a `loc` object equal to Acorn.

[code]
The only differences between Acorn and Meriyah when it comes to location tracking is the `ranges` option. It was a design choice due to performance.  Acorn o

[2019-09-06 12:10] jeremy-coleman commented on #43
i had to change error handles like this
[code]
Without the change , it throws with err.loc.line is undefined. Changing to err.line fixes it. (This is with line: true)

[2019-09-06 12:19] KFlash commented on #43
Ah! You was talking about the error reporting :) Yes. That's different because Acorn uses a loc object and created a new SyntaxError, but I'm [extending the SyntaxError class](https://github.com/meriyah/meriyah/blob/master/src/errors.ts#L350).

[2019-09-06 12:25] jeremy-coleman commented on #43
putting them under .loc would make it possible to drop in as an acorn replacement for all the existing tools, i think it's something to consider?

[2019-09-06 12:29] KFlash commented on #43
I get the point, and yes I'm agree that this could be changed. Is this something you can make a PR for? I think maybe it's an idea just to add a new option - `acorn` and store a boolean value on parser state and check if the value is set when throwing an error.

[2019-09-06 12:36] jeremy-coleman commented on #43
[code]

[2019-09-06 12:49] #43 closed

[2019-09-06 12:50] KFlash commented on #43
Did some changes and pushed to NPM. See if that helps you :)

[2019-09-06 12:50] jeremy-coleman commented on #43
cool , thank you! I'll let you know in a just a sec

[2019-09-06 12:53] jeremy-coleman commented on #43
Perfect.
before
![image](https://user-images.githubusercontent.com/25135855/64429371-d4250580-d083-11e9-9954-7db2b6b8e5ef.png)

after
![image](https://user-images.githubusercontent.com/25135855/64429336-b9eb2780-d083-11e9-9fd0-b3b503a6e298.png)

[2019-09-06 12:56] KFlash commented on #43
Good to know it solved :) If you face other issues don't hesitate to open an issue. I always try to respond and solve the issues within 1 hour from the moment it's reported.

[2019-09-06 12:57] jeremy-coleman commented on #43
Will do. I'm almost finished with this refactor of browserify, i'll send you a link when its done , maybe some good marketing for meriyah? ;p

[2019-09-06 13:13] KFlash commented on #43
I guess so :) Do you need to do a massive refactoring to get it working with browserify?

I looked at the file and I can try to "copy" that error output for both Meriyah and Buntis soon after I have pushed to public a prototype of the TS parser.

[2019-09-07 15:34] mureinik opened #44 "Support for older Node.js versions"
I am looking in using meriyah in a project that needs to support older Node.js versions, specifically from 6 and above.

Looking through the code, the delta doesn't seem to be too great. The restriction of the `engines` entry in `package.json` was added as part of commit 38096e50, and it seems that only the "scaffolding" code under the `scripts` directory really require Node.js 10. The bulk of the

[2019-09-07 15:50] KFlash commented on #44
Hi. I can't see any problems in running this on older NodejS versions. The reasons this wasn't supported was because older versions are no longer supported or maintained. And when I developed the parser I thought of using some newer JS syntax that wasn't supported, but you seem to have fixed that.

I looked at your fork, and your changes looks good to me, so any PR is welcome :-)

[2019-09-07 16:17] mureinik commented on #44
Thanks @KFlash!

PR posted: https://github.com/meriyah/meriyah/pull/45

[2019-09-07 17:31] jeremy-coleman commented on #43
@KFlash ok-ish for now, got some follow up to do. everything is in tools, the src folder is a demo app.
https://github.com/jeremy-coleman/meriyahify-demo

[2019-09-07 23:55] #44 closed

[2019-09-08 20:20] jeremy-coleman commented on #42
https://github.com/fuse-box/fuse-box/blob/master/src/analysis/tokenizer.ts has the regex's if you want to play around. I really cant imagine a scenario where stripping comments and looking for "import( would be wrong

[2019-09-08 21:43] nchanged commented on #42
My parser works in all scenarios even with the comments inside

[2019-09-12 02:20] KFlash commented on #7
@calebboyd Still in need for a Typescript parser? You can check out [Buntis](https://github.com/buntis/buntis/issues/10) . Most of the TS syntax is already implemented, but it's still a WIP.

[2019-09-20 00:02] lawrence-dol opened #46 "Incorrect line number reported when file has LF for line separator"
Similarly to #37 I now find that under some conditions the line number is incorrect when the file uses _LF_ for line separators. Specifically, it again appears related to single-line comments, this time, being out by -1 for every SLC which is followed by at least one blank line. In the examples following, there is a missing `=` in the function's variable assignment.

Out by -4:

    0001 // Single

[2019-09-20 00:06] lawrence-dol opened #47 "Report start column of token, not end?"
When an error is reported, the column number is that of the last character of the token parsed. It would be better if it was the first character.

[2019-09-20 00:27] KFlash commented on #46
@lawrence-dol I'm not online the next days due to RL stuff. Could you try to experiment with it and try to send a PR? It should be an very easy change.

[2019-09-20 00:29] KFlash commented on #47
Same reply as in #46. You could use `column`, `startColumn` or `colPos`

[2019-09-20 00:43] lawrence-dol commented on #46
@KFlash : I'd like to, but I am not set up with the tool chain for developing TS, so pragmatically, I've no realistic path to testing any changes. I could experiment with the generated JS, but that won't be useful as a direct PR, only as a reference as to what to change.

[2019-09-20 00:43] lawrence-dol commented on #47
@KFlash : I'd like to, but I am not set up with the tool chain for developing TS, so pragmatically, I've no realistic path to testing any changes. I could experiment with the generated JS, but that won't be useful as a direct PR, only as a reference as to what to change.

[2019-09-20 00:47] KFlash commented on #46
A reference is okay. Then I can do the changes when I get back online. Maybe late sunday.

[2019-09-20 02:10] lawrence-dol commented on #47
@KFlash

I changed the error to use the token's start line/column:

  function report(parser, type, ...params) {
      throw new ParseError(parser.index, parser.startLine, parser.startColumn, type, ...params); /*LD: Use start line/colum*/
  }

But that then reported the last character of the previous token. So I also update the start values until a non-blank character is found:

  function scanSin

[2019-09-20 02:28] lawrence-dol commented on #46
@

[2019-09-20 06:31] lawrence-dol commented on #47
The fix was trivial, though I think the parser properties names are not very intuitive. Simply change the `report` function to use `linePos` and `colPos` thus:

[code]

[2019-09-20 06:32] lawrence-dol commented on #47
I think these two fields ought to be `tokenLine` and `tokenColumn`.

[2019-09-20 06:33] lawrence-dol commented on #47
Also, it looks like some of the doc comments for the parser fields have become out of date. I don't think the descriptions all fit their current purpose, though I could be misunderstanding the code.

[2019-09-20 08:13] KFlash commented on #47
@lawrence-dol I asked a friend of mine to fix this and push some changes. It should be on NPM anytime soon.

[2019-09-22 02:24] KFlash commented on #47
I guess this is fixed now.

[2019-09-22 02:24] #47 closed

[2019-09-22 02:24] KFlash commented on #46
is this still an issue?

[2019-09-22 02:26] KFlash opened #48 "Typescript parsing"
There are no plans to implement support for Typescript parsing in Meriyah.

You can use the [Buntis](https://github.com/buntis/buntis) parser if you need to parse `JS`, `TS` and `JSX` / `TSX`.

[2019-09-23 20:41] lawrence-dol commented on #46
@KFlash : Based on the current version from unpkg, 1.7.2, yes it is. I am running a fixed version of 1.7.2 from which the above snippets were taken.

[2019-09-23 20:45] lawrence-dol commented on #47
@KFlash : Yes, the change to use `linePos/colPos` is present in 1.7.2. I didn't check whether documentation comments have been updated and you may take the field name question under advisement.

[2019-10-01 22:14] lawrence-dol commented on #46
@KFlash : HI there. Is there any update on this?

[2019-10-02 00:25] KFlash commented on #46
AH! Sorry. Been busy with some RL stuff so I haven't had time. But just grab v. 1.80 from NPM and it should have been solved now.

[2019-10-02 01:04] lawrence-dol commented on #46
@KFlash : Version 1.8.0 with the does not work when the line endings are CRLF, but it does for LF. The issue is possibly that `consumeLineFeed` and `consumeLineBreak` do not use `advanceChar`, which I found was necessary in order to properly handle runs of line breaks.

Note that my changes eliminated the need for two functions and state flag 4 as well as consolidating the parser switch cases for

[2019-10-02 01:58] KFlash commented on #46
I more or less copied your code above. I will double check

[2019-10-02 02:14] KFlash commented on #46
@lawrence-dol Pushed an update. Also see this https://github.com/meriyah/meriyah/blob/master/src/lexer/common.ts#L34

[2019-10-02 02:50] lawrence-dol commented on #46
@KFlash : Ha ha. I'm not sure if I should be complimented, or worried.

I'm using unpkg.com to get the iife. Is that easy to make available? Otherwise, I can tweak my local copy to match that change.

[2019-10-02 02:59] lawrence-dol commented on #46
Confirmed that making the change shown in the patch returns the correct error location for both CRLF and LF line endings.

[2019-10-02 03:06] lawrence-dol commented on #46
OK, if I take 1.8.0 from `unpkg.com` and patch the function per your reference with the two advanceChar functions, then both tests return an incorrect location. The CRLF line and column are wrong, and the LF code has the column wrong (both columns are out by -1, giving 36 instead of 37).

My full test sources now include both SLC and MLC variations:

[code]

[2019-10-02 03:20] KFlash commented on #46
Can't you try v. 1.8.2 ?

[2019-10-02 03:44] lawrence-dol commented on #46
Sorry, my bad; I refreshed the page, but forgot the unpkg redirects to a version specific URL. I've just pulled 1.8.2, and I get no output at all. \_O.O_/

[2019-10-02 03:49] lawrence-dol commented on #46
That said, 1.8.2 does not replicate my code. It still has two consume functions, and uses `state & 4` to reset the column and advance the line number. My code dispensed with that entirely. I also didn't need the split advance function since it's correct to increment the column when consuming a linefeed, which had just reset the column to 0 (else you're out by one to the left).

[2019-10-02 03:51] lawrence-dol commented on #46
I can probably make the changes to the TS code, now that I've become more familiar to the code base (just can't build and test it). That might be enough for a good-enough patch?

[2019-10-02 03:55] KFlash commented on #46
It's ok. I can build and test it and give you feedback

[2019-10-02 18:11] lawrence-dol commented on #46
OK, I'll look into after work tonight.

[2019-10-03 04:46] lawrence-dol commented on #46
@KFlash : I've made the changes, but I don't have permission create a pull request on the repo. How would you like me to proceed?

[2019-10-03 04:53] aladdin-add commented on #46
you can fork the repo. refs: https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

[2019-10-03 05:07] lawrence-dol commented on #46
OK, that's done. Hopefully correctly. The pull request shows up on your repo.

[2019-10-05 22:50] KFlash commented on #46
@lawrence-dol Any update on your progress regarding this issue?

[2019-10-07 17:50] lawrence-dol commented on #46
Not yet; I have a customer-down issue at work and a couple other high-priority tasks.

After resetting the initial value for line to 0 (changing it to 1 is surely the reason for the failed tests) the line number for my test code with comments is out by 1. My gut says that the extraction of a character from the source (i.e. anything that logically causes the column to advance, and then the line if

[2019-10-07 22:08] KFlash commented on #46
Take your time :) Do it if and when you can.
I have some huge critical RL issues to handle now so I have no time for anything anymore it seems.

cc / @nchanged

[2019-10-08 04:46] nchanged commented on #46
Take it easy Kenny :)

[2019-10-14 01:32] KFlash commented on #46
@lawrence-dol Have looked into this any further? Btw. Look at [this gist](https://gist.github.com/KFlash/f8812201b16c2643cb0d83e39a657f3e). This is my private locale code and not open sourced.  Do you see the solution I'm using for location tracking?

I may think you should try if that solution works for you and solve all issues, and if it does can you copy & paste it and create a PR?  I'm not sur

[2019-10-14 18:16] lawrence-dol commented on #46
@KFlash Can you generate the IIFE with this so I can try it and see? Or is there a simple way that I can do so (bearing in mind that I don't have node.js, or any TS build tools installed)? I presume that this passes current tests, so I can check with my known failing sources.

[2019-10-14 22:27] KFlash commented on #46
I can't generate an IIFE with it because it was just an code snippet and not used anywhere.
I still think your solution is the best one, but you need to fix the 93 broken tests before anything else.

[2019-10-15 03:33] KFlash commented on #46
@lawrence-dol I'm friend of K.F and just pushed a change. I noticed the line count was wrong. Reported 12 where it should have been 18. This happened because of missing line pos counting in lexer. It's all fixed and I pushed a minor version to NPM.

[2019-10-15 03:53] lawrence-dol commented on #46
For the test I provided, it's necessary to have the blank lines after the comments to trip the fault.

Also, this update has reverted the column to point to the end of the faulting token, instead of the start.

[2019-10-15 16:59] lawrence-dol commented on #46
@KFlash : Is it possible that the test failures related to column number are the result of changing the column to the start of the token instead of the end of it?

[2019-10-19 00:36] GuyLewin commented on #46
@lawrence-dol I tried to reproduce by parsing the following snippet:
`// Single line comment\r\n// Single line comment\r\n// Single line comment\r\n// Single line comment\r\nfunction handleAutocomplete() {\r\n   var prp = this.props; // some error here\r\n\r\n   for(let xa=0; xa<100; xa++) {;}\r\n   }`

And it looks as though it parsed nicely, to:
`{
 "body": [
   {
     "async": false
     "body"

[2019-10-19 02:13] lawrence-dol commented on #46
Yes, you need to use LF line breaks, not CRLF, using current versions. Older versions had a problem with CRLF, but not LF.

[2019-10-20 09:12] GuyLewin commented on #46
@lawrence-dol I think I saw what you meant and fixed it in #52. I added a test to make sure your snippet with LF and CRLF parses exactly the same.

[2019-10-20 09:36] GuyLewin commented on #35
Should this go to Wiki instead of an issue? :)

[2019-10-20 09:47] KFlash commented on #35
Hi. I think wiki is a better place :)

[2019-10-20 09:52] #46 closed

[2019-10-20 11:08] #48 closed

[2019-10-24 04:16] KFlash commented on #46
@lawrence-dol Can you confirm this works for you now?

[2019-10-24 18:12] lawrence-dol commented on #46
Apologies for not commenting, but yes, I tested this as soon as it landed and confirmed correct reporting in my two test files. When I came back here it was closed, so I figured we were good. Appreciate you checking up on it.

[2019-10-29 10:50] KFlash opened #55 "Missing null property in bad character escape sequence (template)"
@GuyLewin  There is missing an `null` property in the Revised Template Literal parsing when it comes to bad templates. Try to parse this `f`\xg`;`.

Is this something you can look into? I have a fix for this, but it need to be ported to 2.0. A workaround for now (*I think*) is just to add `context | Context.TaggedTemplate` to identifier parsing in primary expression

[2019-11-03 16:42] GuyLewin commented on #55
Just to be sure, what property should equal `null`?
According to MDN, I saw that `cooked` should be `undefined` (even though its `null` in Acorn according to AST parser) - https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals#ES2018_revision_of_illegal_escape_sequences

[2019-11-03 16:44] GuyLewin commented on #35
Moved to wiki:
https://github.com/meriyah/meriyah/wiki/ESTree-Node-Types-Table

[2019-11-03 16:44] #35 closed

[2019-11-03 22:13] #42 closed

[2019-11-03 22:16] KFlash commented on #55
https://github.com/estree/estree/blob/master/es2018.md#template-literals

[2019-11-03 22:43] KFlash commented on #55
It's all fixed in the v. 2.0 you have

[2019-11-13 01:37] KFlash opened #57 "v. 2.0 - Comment attachment"
**B.C.** In v. 2.0 the `onComment` option will be removed and replaced with `attachComment`.

Acorn offers the `onComment` option so you can use a 3rd party library to attach comments into the AST, and both Babel and Esprima have their own algorithm to do it. And for everyone this algorithm is a PITA. Comments are misplaced, can't find correct AST node to hook them on, or they doesn't get attached

[2019-11-13 02:08] #57 closed

[2019-11-13 02:09] KFlash commented on #57
Still solving and experimenting on a few things... So closing for now

[2019-11-13 10:18] jwhitmarsh opened #58 "Issues using with TypeScript: no exported member 'Errors'"
Firstly, thank you for this excellent lib!

Here's the issue:
[code]

I think it's because the `Errors` enum is marked as `@internal` so it's not making to the dist build, so everything importing `Errors` is unhappy.

I've solved this by setting `skipLibCheck: true` in my tsconfig (which might be a good thing to do in any case), but thought it was worth raising in case someone else comes across it

[2019-11-13 10:25] KFlash commented on #58
Hi. Glad to hear you liked this lib :) I removed the `@internal` and pushed a new release to NPM. Let's hope that solves the issue.

[2019-11-13 10:27] #58 closed

[2019-11-13 13:41] jwhitmarsh commented on #58
Thanks for the quick response @KFlash, that works now :)

[2019-11-21 13:02] peeyush31 opened #60 "In Object pattern can we create 2 different objects for key and value"
if the key is not specified then the value and left of assignment pattern is the same object
[code]
In these cases the key is not defined:
 - 1st case the `key` and `value` are the same object
 - 2nd case the `key` and `value.left` the left part of assignmentPattern are the same object

As a consumer to the parser I have to add properties to the AST nodes as the nodes are same object they properti

[2019-11-21 13:03] peeyush31 commented on #60
@KFlash I can create a PR if you are OK with this change

[2019-11-22 00:14] KFlash commented on #60
Hi. If you want you can do an PR and add this changes as an option. As it is now Meriyah are following the ESTree specs, so changes like this has to be behind and option.

[2019-11-23 11:06] KFlash commented on #60
@GuyLewin Do you want to look into this?

[2019-12-27 09:15] aladdin-add commented on #60
closing, as it seems has been resolved. thanks!

[2019-12-27 09:15] #60 closed

[2020-01-02 21:06] SephReed opened #62 "Block body arrows can not be immediately invoked without a group"
The following code will throw an error:

[code]

It appears to think that `(a && a())` is trying to invoke the function.

[code]

[2020-01-02 21:24] nchanged commented on #62
On buntis
https://github.com/buntis/buntis/issues/42

[code]

https://github.com/fuse-box/fuse-box/issues/1732

[2020-01-02 21:29] SephReed commented on #62
Good find

[2020-01-03 03:54] KFlash commented on #62
Still RL issues, so asked someone to fix it. It's solved so closing

[2020-01-03 03:54] #62 closed

[2020-01-04 03:05] #55 closed

[2020-01-06 15:04] peeyush31 commented on #57
@KFlash it would be nice to know when v2.0 is going to be released. Is there a standard way to put comments in the AST, which I can try for now. In my use comments are important because some website use comments to hydrate the state on server side. I need to regenerate them at correct place after processing the scripts.

[2020-01-06 16:26] KFlash commented on #57
RL issues in my end, so so release date on 2.0. This was basically a project done by some of my students...

Regarding comments. You can collect the comments, but Meriyah doesn't offer any option to attach them. There exist 3rd party libraries to fix this - same as what Acorn does.

cc /@GuyLewin

[2020-01-08 23:38] lukeed commented on #48
Hey, I just noticed that Buntis was archived. Is the plan to include TS parsing in Meriyah?

[2020-01-16 15:31] Llorx opened #63 "es5 dist?"
IE11 is a non-deprecated browser and has problem with arrow functions and such. meriyah is really powerful under IE11 to parse ES6 scripts, but meriyah aslo has ES6 functionalities, so is impossible to make it run under IE11.

Is there any problem to also add a `es5` output along with all the dist outputs existing now? Typescript works pretty well with this option, so it should be easy to add (as

[2020-01-16 23:29] KFlash commented on #63
Hi. This shouldn't be easy to solve. Could you send a PR with a new build that suites IIE11?
My knowledge about IE11 ism't 100%, and I got some RL issues to solve that take all my time now.

[2020-01-17 02:43] KFlash opened #64 "The future of Meriyah"
Meriyah was developed by some students of mine, but I had a helping hand in the project. The exam is over, but still Meriyah will be maintained. However. Be aware that there will be no huge changes to the source code except for updating with new features.

Meriyah **is** the fastest open sourced javascript parser, and that will never change :)

If anyone are interested to improve Meriyah's perform

[2020-01-17 11:13] aladdin-add commented on #63
I can make a PR, but I don't have access to publish to npm. could you add me(weiran.zsd) as a maintainer? @KFlash

[2020-01-17 12:07] aladdin-add commented on #63
just add es5+umd, and **no** es5+cjs+systemjs+esm... given we already have a large number of dist/* 😅

@Llorx make sense?

[2020-01-17 12:58] KFlash commented on #63
@aladdin-add I think you already have NPM access

[2020-01-17 13:53] aladdin-add commented on #63
great, thanks! I'll try it later.

[2020-01-19 02:33] #63 closed

[2020-01-19 03:16] aladdin-add commented on #63
@Llorx just published v1.9.6, you can use:

[code]

[2020-01-19 13:05] Llorx commented on #63
Woah, so fast. Is not even monday haha.

Thank you! ^^

El dom., 19 ene. 2020 4:16, 薛定谔的猫 <notifications@github.com> escribió:

[2020-01-24 07:38] KFlash commented on #64
@Llorx Hard to do so because it has a different architecture, and why should it be needed, Meriyah is fast enough :)

[2020-01-26 12:24] KFlash commented on #64
@Llorx Try search "seafox" on NPM

[2020-02-03 10:06] qguv commented on #64
Looks like the Github project linked on the NPM page for seafox is still set to private. Any chance of releasing the source? @KFlash :blush:

[2020-02-03 10:18] Llorx commented on #64
Oh, you pushed it to npm! Didn't noticed, my bad. You are the boss @KFlash

[2020-02-03 11:41] KFlash commented on #64
@qguv It's private because the source code is a couple of levels higher up than average developer on GH, and I'm still experimenting with it.

@Llorx Yeah I did a long time ago. I can try within a few days to fix a es5 output

[2020-02-03 11:49] KFlash commented on #64
@qguv Here is an example on code complexity

![example](https://user-images.githubusercontent.com/31855118/73650933-4a26aa80-46be-11ea-8584-1f86a1b4555a.png)

[2020-02-03 13:08] qguv commented on #64
@KFlash Aah, so at least some of the speedup of your private parser is from the careful use of bitmasks. Looks like it would be a very interesting read :slightly_smiling_face:

[2020-02-03 13:10] KFlash commented on #64
@qguv Why not check your email? ;) Or click [on this link](https://github.com/KFlash/seafox/blob/master/src/seafox.ts)

[2020-02-07 22:20] KFlash commented on #64
@qguv Did you read the source?

[2020-02-08 00:26] qguv commented on #64
@KFlash I've been working all week and haven't gotten the chance. I'll take a look at the typescript ticket as soon as I can, probably next week.

[2020-02-09 04:16] KFlash commented on #64
@qguv The source is public now.

[2020-02-14 05:19] KFlash opened #68 "Meriyah 2.0"
cc / @aladdin-add Could you try to port some of the code form [here](https://github.com/KFlash/seafox) and publish a 2.0 version?

[2020-02-15 12:35] KFlash commented on #64
@Llorx I think seafox supports IE11 now

[2020-02-16 03:17] KFlash commented on #68
If you remove the "lexical" option and use the scope code directly it should be possible to gain perf.
The destructuring code can also be simplified, and there are a few non-failing cases that should fail.

Look at how it's done in seafox .

[2020-02-16 09:46] KFlash opened #69 "Add seafox to Meriyah's benchmark"
@aladdin-add Can you add seafox to the benchmark? To give a fair result you should enable the lexical option for Meriyah.

Seafox performs around 25% - 30% better I guess.

[2020-02-17 12:29] Llorx commented on #64
Hm, I still see arrow functions in the code. IE11 don't support ES6 functionalities, that's why I asked for a "es5" output in the typescript compiler options, if possible.

Now that the project is public (yay), I'll do my own PR for you to check.

[2020-02-17 14:54] KFlash commented on #64
@Llorx Is there any arrows inside this file "seafox.umd.es5.min.js"?

[2020-02-18 15:52] nchanged opened #70 "String literals are incorrectly parsed"
subj
[code]

here is the source
https://raw.githubusercontent.com/zloirock/core-js/master/packages/core-js/internals/whitespaces.js

[2020-02-19 08:00] nchanged commented on #70
@KFlash will you be able to fix it anytime soon? It's a very critical one

[2020-02-22 07:44] KFlash commented on #70
cc / @aladdin-add

[2020-02-24 18:51] Llorx commented on #64
@KFlash For some reason I was looking the `0.4.3` version. Perfect now ^^

[2020-03-02 15:11] nchanged commented on #70
@KFlash is meriyah no longer maintained? If not, please let me know, I will switch it out. This bug is very critical and a major blocker for a lot of users.

[2020-03-02 17:25] KFlash commented on #70
Everyone is free to contribute. It's open source.

[2020-03-02 17:31] KFlash commented on #70
@aladdin-add Can you push to NPM?

[2020-03-05 00:12] KFlash commented on #70
It\s fixed. '\u180e' is not a valid whitespace.

Esprima have a test covering all exotic whitespaces  https://github.com/jquery/esprima/tree/master/test/fixtures/whitespace

[2020-03-05 05:28] jpike88 opened #71 "Critical character parsing issue, fails on angular compilation"
When using fuse-box@4.0.0-alpha.325

@angular/compiler in the fesm2015 folder line looks like this. only happens when trying to compile to ES5 with fusebox.

```const WS_CHARS = ' \f\n\r\t\v\u1680\u180e\u2000-\u200a\u2028\u2029\u202f\u205f\u3000\ufeff';```

This fails with a syntax error in the output because this string is not being preserved and converting some of these entities to a weird chara

[2020-03-05 05:46] nchanged commented on #70
It is a valid issue !!! From the angular source !!!

[2020-03-05 05:55] aladdin-add commented on #70
just published 1.9.9, please give it a try!

[2020-03-05 06:15] jpike88 commented on #70
@KFlash this kind of code is present in angular's code...

This file is taken directly from @angular/compiler/fesm5/compiler.js
[compiler.js.zip](https://github.com/meriyah/meriyah/files/4291229/compiler.js.zip)

[2020-03-05 06:15] nchanged commented on #70
@aladdin-add it has been published already, you have published the same code ) the issue that it cant parse the angular source still

[2020-03-05 06:20] jpike88 commented on #71
closed because issue #70 got reopened

[2020-03-05 06:20] #71 closed

[2020-03-05 08:29] nchanged commented on #70
@KFlash ignoring an edge case in a framework that's literally used by hundreds of thousands of developers doesn't sound logical to me. Besides, even if it's NOT correct, meriyah should **NOT corrupt** the output ` ᠎ -     　﻿` by adding heart symbols in the final AST...

[2020-03-05 08:59] KFlash commented on #70
@aladdin-add You fix this?

[2020-03-05 11:35] KFlash commented on #70
@aladdin-add Can you fix this? @nchanged confused both of us. This is not an whitespace issue at all. It string literal related. So the title of this issue is wrong.

This is an easy fix, but I got no time now.

[2020-03-05 12:55] KFlash commented on #70
@nchanged Try to parse the code in the Meriyah REPL, and in ASTExplorer with Meriyah.

There are no issues.

[2020-03-05 13:22] nchanged commented on #70
<img width="444" alt="Screenshot 2020-03-05 14 22 14" src="https://user-images.githubusercontent.com/1629088/75985511-bc242680-5eec-11ea-925b-35da4da05a12.png">
Are you serious right now?

[2020-03-05 13:34] KFlash commented on #70
It passes. But feel free to open a PR or @aladdin-add maybe look into it.
It passes and not WS related

[2020-03-05 13:37] nchanged commented on #70
I changed the subject.

[2020-03-05 13:54] jpike88 commented on #70
I’ll just make it clear as I found the original problem. All this stuff is borderline black magic so I think we all need to take a step back and appreciate for a second how hard this shit is and how big brainEd we all are. It’s basically computer science. Coming from a lowly angular developer.

I just want to build my angular app in ES5 as I have IE11-using customers. If I use meriyah, it breaks i

[2020-03-06 00:44] KFlash commented on #70
@jpike88 How can it break? It parses just fine. It's just the output is little weird, but I guess @nchanged  can send a PR for that.
Try parse that code in the Meriyah repl.

[2020-03-06 05:55] nchanged commented on #70
It's the same in the REPL

[2020-03-06 17:44] JLHwung commented on #70
I see multiple technical issues involved in this thread.

#### `\u180e`

Correct. Historically when MONGOLIAN VOWEL SEPARATOR was introduced, it was categorized as `Zs` (whitespace), later in 2013 it was changed to `Cf` (ref: https://www.unicode.org/L2/L2013/13004-vowel-sep-change.pdf) and published in Unicode version 7.0.

Unfortunately such change will need decades to sync to every downstream pr

[2020-03-06 23:02] KFlash commented on #70
@JLHwung Thanks for the detailed explanation!

@nchanged I guess you now know what to do? For this edge case and in ES5 mode, do a change in Fuse compiler to use the raw property of the AST node.

[2020-03-11 02:46] #70 closed

[2020-03-11 02:46] KFlash commented on #69
Closing as @aladdin-add don't have time

[2020-03-11 02:46] #69 closed

[2020-03-11 02:47] KFlash commented on #68
Closing as @aladdin-add don't have time

[2020-03-11 02:47] #68 closed

[2020-03-11 02:47] #64 closed

[2020-03-16 07:16] KFlash commented on #70
@jpike88 @nchanged I looked into this again and I was wondering when did `\u2028` and `\u2029` become a white space char as seen in the Angular code?

`LineSeparator` and `ParagraphSeparator` are both classified as LineTerminators and not whitspace.

Maybe mention that to the Angular team as well.

[2020-03-16 08:46] jpike88 commented on #70
Telling the angular team that is likely a futile endeavour... besides I don’t fully understand the issue enough to post a problem about it. Could you do me a favour and write a more complete post about it even in here and I’ll pass it on?

[2020-03-16 09:22] KFlash commented on #70
@jpike88 Easy.

`const WS_CHARS = ' \f\n\r\t\v\u1680\u180e\u2000-\u200a\u2028\u2029\u202f\u205f\u3000\ufeff';`

is both invalid, and mix of both whitespace and line terminators.

See @JLHwung  comment for `\u180e` for further details.

`\u2028` and `\u2029`are both LineTerminators

They a look at the TypeScript source. They got it right :) Found [here](https://github.com/microsoft/TypeScript/blob/

[2020-03-17 19:50] KFlash opened #73 "should fail on invalid modifier"
This should fail `({static a(){}})`

cc /  @aladdin-add

[2020-03-24 21:46] 3cp commented on #1
@KFlash any doc on how to use `lexical` flag? I tried to turn it on in the demo https://meriyah.github.io/meriyah/ but the output didn't change.

[2020-03-25 00:11] KFlash commented on #1
@3cp It only turns on lexical. Find duplicates like `function x(a, a) {}` will fail.

[2020-04-02 09:44] 3cp commented on #62
@KFlash this issue is not fixed.

[code]

meriyah thinks it's one statement `const a = (the_func)('world')`;
While both browser and nodejs thinks that is two statements.

[2020-04-02 11:53] KFlash commented on #62
@3cp Could you try a pr?

[2020-04-02 21:44] 3cp commented on #62
Thx! Fixed in 1.9.12.

[2020-04-02 21:45] 3cp commented on #62
I see you fixed seafox too!

[2020-04-03 00:03] KFlash commented on #62
I tried to find a solution first on Seafox, then I copied the solution to Meriyah. Now I'm working on an incremental parser

[2020-04-06 13:48] KFlash commented on #73
@aladdin-add time to look into this?

[2020-04-06 14:58] aladdin-add commented on #73
emm... I don't think I have the knowledge to fix it.

an option is to suggest people to start using seafox, as I didn't see a large value of maintaining 2 packages.

[2020-04-06 22:01] KFlash commented on #73
Ok. I   will try to look into it soon.

Btw. There is a lot of differences between Meriyah and Seafox. Meriyah have jsx and a lot of other things. So people can't just swap.

[2020-04-26 10:41] davidbonnet opened #76 "Feature: syntax check only mode"
Meriyah enables checking the syntax but produces a full AST if the code is correct. A syntax check only mode could speedup the parsing process by not producing AST nodes at all.

@KFlash: Is this feasible? I could look into it if so.

[2020-04-26 10:47] davidbonnet opened #77 "Feature: restrict to given language spec version"
Similar to [Acorn's `ecmaVersion` option](https://github.com/acornjs/acorn/tree/master/acorn#interface), the parser could restrict to a given language spec version (e.g., ES5) and have it throw an error if an unknown token is found (e.g., "Unexpected token `let`" if in ES5 mode).

This could probably be done externally using an `onToken` callback though.

[2020-04-26 10:52] KFlash commented on #76
@davidbonnet yes, we could add this to the parser. I have no time now, but a PR is always welcome

[2020-04-27 23:56] KFlash commented on #77
@davidbonnet Is this something you want to make a PR for? For performance reasons I think a `ecmaVersion` should be passed as a func arg. Then you could do `if(esVersion === 12) ....`

[2020-05-13 19:24] rattrayalex opened #78 "Include additional parsers in the performance benchmarks"
Given that meriyah claims a high focus on performance and therefore a major reason someone might choose to use it would be performance, having the benchmarks provided at https://meriyah.github.io/meriyah/performance/ available is quite helpful – thank you!

They would be even more helpful if they included a broader array of competing parsers, such as Babel's, TypeScript's, and ESLint's (Espree).

[2020-05-14 22:56] KFlash commented on #78
@rattrayalex Is this something you will add a PR for? I have no time this days to fix this.

[2020-05-15 17:00] rattrayalex commented on #78
Nope – maybe somebody else can, or you can close this as wontfix.

[2020-05-22 10:47] #78 closed

[2020-05-25 07:20] 3cp opened #79 "Unterminated regular expression"
Found a bug on regexp when parsing latest [svelte](https://github.com/sveltejs/svelte).
Here is the minimum code that triggers the issue:
[code]
That unicode range troubled meriyah. Seafox also failed.

Use following script to show the Error:
[code]

Error output:
[code]

[2020-05-25 07:56] KFlash commented on #79
Meriyah uses native regexp validator. Same as used in V8 and NodeJs.  So this isn't a bug within the parser itself.

[2020-05-25 07:59] KFlash commented on #79
It's an invalid RegExp.

Test it with Acorn

https://astexplorer.net/#/gist/752883abca64abb7ef1eeae38b6e1fb5/6b8ba9f0497b046ea3755de58346834ab85b4e8e

[2020-05-25 08:06] 3cp commented on #79
I see. Thx!
Svelte must has special toolchain to transpile it to support it in app.

[2020-05-25 09:17] 3cp commented on #79
Sorry my mistake, I forgot the `/u`. It's `var a = /[\u{FDD0}-\u{FDEF}]/u;`, nodejs can parse it, so could the browser.

Meriyah cannot, seafox cannot.
babel parser and acorn can parse it.

Maybe just a missing flag `u` when passing it to native regexp validator?

[2020-05-25 09:20] 3cp commented on #79
Looks like the case. Any reason for parsing twice? The first pass has no proper flags.
[code]

[2020-05-25 10:46] KFlash commented on #79
Seems like a bug. Do you want to look into an fix? I'm knee deep in another private project atm.

[2020-05-25 11:04] KFlash commented on #79
@3cp Try latest Seafox and if it works for you now? If it does, could you copy the code to Meriyah? I'm very busy atm.

[2020-05-25 11:11] 3cp commented on #79
Sure. I will look into this.

[2020-05-25 23:22] 3cp commented on #79
I tried following, it works with existing unit tests and the added test for this issue.

[code]

I really don't understand the existing implementation, it seems to imply there is a subtle difference between `RegExp(pattern)` and `new RegExp(pattern, flags)`, where first could pass but second will fail.
But no matter what's the difference, the existing unit tests didn't cover that case.

[2020-05-25 23:53] 3cp commented on #79
Why test/parser/miscellaneous/pass.ts has an invalid escape `\l` in a regexp?
[code]

[2020-05-25 23:57] 3cp commented on #79
There are few more invalid in that file.

Tested in nodejs console
[code]

[2020-05-26 00:24] KFlash commented on #79
My  students added them, and I have been lazy to go through it. If they are wrong, just comment them out.

[2020-05-26 02:31] #79 closed

[2020-05-26 14:32] mamaniv opened #81 "Attach comments"
I'm trying to use attachComments functionality of escodegen, which gets tree,comments,tokens as arguments.

Unfortunately, it doesn't preserve the comments using Meriayh and it looks like the tokens types and range are different than what escodegen expect to have.

I tried the following scenario:

`

    const sourceCode = `
      //Comment1
      const test1 = 1;
      //Comment2
      const test

[2020-05-26 14:44] KFlash commented on #81
Could you look at the code and try to figure out where it goes wrong? What's the differences vs Esprima as you mentioned?
This project was done by some students of mine, and I'm knee deep involved in a private project so little time atm to fix this.

[2020-05-26 14:50] mamaniv commented on #81
I'm not sure I fully understand the logic, but I can attach the tokens I get from Esprima and what I get in Meriyah.

BTW, it also get the wrong Punctuator values (I used a workaround to fixed that, but it actually broken too).

[code]

[2020-05-26 15:12] KFlash commented on #81
I see the range for ident is out of range?

[2020-05-26 16:47] mamaniv commented on #81
It is just different than it should be and that's why escodegen can't generate comments.
If I change, for example, the first block from:
{
    "type": "Keyword",
    "value": "const",
    "range": [
      0,
      16
    ]
  },

to

  {
    "type": "Keyword",
    "value": "const",
    "range": [
      11,
      16
    ]
  },

we'll successfully get the first comment.

[2020-05-26 16:49] mamaniv commented on #81
I also had to convert "start" and "end" properties into range:[start,end], for each body objects, to be able to generate the code (even without comments)

[2020-05-26 17:05] 3cp commented on #81
Both start, end, and range[] are not estree standard. There was some argument im estree spec repo but no action was taken so far.
But range[] is definitely the more popular one.
Some parsers supply both properties, and I think meriyah should do the same to improve compatibility with other tools. I can make a PR for that. (I personally need that too because eslint-escope uses range[])

As for skipp

[2020-05-26 17:14] mamaniv commented on #81
Thank you! Looking forward for that.
If you need more information, let me know.

[2020-05-27 00:01] KFlash commented on #81
Use of range[] kills performance, but the loc tracking itself does it too. It's better to use an optional linear incrementing id to store 4 * 4 bytes (32bit for start, stop, col, line) per
node as a blob of binary. But that's out of scope of ESTree :)

[2020-05-27 00:05] 3cp commented on #81
I guess that's the effect of an array.

@KFlash I am not sure do you want to add range[] or not? Maybe another option to add this compatible rang[] thing?

[2020-05-27 00:09] KFlash commented on #81
A 'range[]' property is fine, and makes Meriyah more compatible with other parsers.
In ESTree world there are no other options, so it's fine :)

[2020-05-27 04:47] 3cp commented on #81
The comments are not missing, but the token after comment has wrong start.
[code]

Output:
[code]

[2020-05-27 05:24] 3cp commented on #81
The two PRs hopefully can fix your use case.

[2020-05-27 06:41] #81 closed

[2020-05-27 06:47] 3cp commented on #81
The #83 removed leading white space before token, so there are gaps between tokens. If this affects your reconstruction of the code, you might need to study the behaviour of other parsers.

I never tried escodegen. For now, you might need to fill up the gap with synthesised token.

[2020-05-27 06:49] KFlash commented on #81
Released v. 1.9.14.

[2020-05-27 09:12] mamaniv commented on #81
Works now.
Thank you!

[2020-06-02 07:33] KFlash commented on #76
Any update on this?

[2020-06-02 07:33] KFlash commented on #77
Any update on this?

[2020-06-02 07:34] KFlash commented on #73
@aladdin-add I'm closing this and will try to fix the issue soon.

[2020-06-05 18:19] lazarljubenovic opened #84 "Code generation (printing)?"
I know that the primary goal of the project is parsing (and the fact that it's so fast and _actually_ compliant to the spec is amazing; great job!).

However, I am evaluating parsers to use in a project where I manually construct the AST -- so I don't really need a parser, I need to build (and manipulate) the AST, and then print it in the end. Are there plans to support code generation / codegen /

[2020-06-05 20:17] KFlash commented on #84
Meriyah should works just fine with escodegen and other tools. If you was wondering if Meriyah
should behave same as escodegen - I think that's out of the scope for this parser because it's a parser.

[2020-06-05 21:42] KFlash commented on #84
However. My new project - which is also a parser, but includes error recovery, incremental parsing and it's own ECMAScript® 2021 compatible abstract syntax tree (AST) - I plan to develop some tools.

[2020-06-06 10:44] lazarljubenovic commented on #84
Thanks for the quick responses. My questions have been answered, so I'm closing this.

[2020-06-06 10:44] #84 closed

[2020-06-21 22:55] KFlash opened #86 "No error recovery or loose mode to be added in Meriyah"
No error recovery or loose mode as known from Acorn will be supported by the Meriyah parser.

However. I'm soon going to open-source a "work in progress" parser that does error recovery and also support incremental parsing. This is way different than Acorn loose or other similar implementations, and can be used i any editors.
Everthing is designed from "bottom up", and ESTree not supported. Escaya

[2020-06-23 14:06] KFlash commented on #86
Demo of the upcoming Escaya parser can be found here https://escaya.github.io/escaya/

Click on the "recovery" check box for some fun :)

[2020-06-23 16:39] leeoniya commented on #86
would it be difficult to compare Escaya to Lezer? i'm assuming they're pretty different since Lezer supports nested grammers and other stuff besides ecma.

[2020-07-06 01:52] KFlash commented on #86
@leeoniya Sorry late reply. 2 different worlds.

Escaya aim to have equal AST both in "normal mode" and "recovery / incremental mode", and follow the ECMA specs. So they can't be compared.

You can see Escaya as Acorn loose on super powers that actually works.

Play with the Escaya demo and open the console log. You see how it works and the AST nodes that is recovered.

[2020-07-13 10:38] davidbonnet commented on #76
Not yet, still planned though.

[2020-07-13 11:37] davidbonnet commented on #77
Not yet, still planned though.

Is this the right repository to contribute to?

I noticed that you created variants with slightly different functionalities:
- Escaya uses a custom AST instead of the Estree format: https://github.com/escaya/escaya
- Seafox seems similar to Meriyah, but faster: https://github.com/KFlash/seafox
- Buntis parses TypeScript code (its Github repository seems to be privat

[2020-07-13 11:55] KFlash commented on #77
* Escaya is an totally different world with different code base. It's my own code with no students involved. It does error recovery and incremental parsing as well :)

* Seafox is similar to Meriyah yes, because I tried to figure out what my students "did wrong", and just ignore it.

* Meriyah is the ESTree parser so right choice is to contribute to this repo.

[2020-07-23 02:41] moroshko opened #90 "Line/column location is wrong with JSX"
Trying to parse the following code using `loc: true, jsx: true`:
[code]
gives an unexpected location for `<Text>`:
[code]
I expect it to start on line 4.

Am I missing something?

[2020-07-23 03:13] KFlash commented on #90
Obviously an bug!

cc/ @3cp Do you have any idea for an quick solution?

[2020-07-23 03:45] 3cp commented on #90
Not just `Text`, `Container` closing tag is wrong too.
It looks like the jsx parser missed all the line feeds to reset line and column. Do you know where is the problematic lines?

[2020-07-23 03:50] KFlash commented on #90
@3cp I think it happened around [here](https://github.com/meriyah/meriyah/blob/5fa94bde361167790500cde8bf47fe2eb30271ac/src/lexer/jsx.ts#L52)

[2020-07-23 05:35] 3cp commented on #90
It looks like scanJSXToken is called twice to scan the same source location (index 3).

The duplicated scan is probably a bug.

The first scan picked up two new lines correctly, the second scan missed the first new line, it strangely thinks the char at index 3 is a `<` instead of `\n`. I guess this comes as a side effect of the duplicated scan.

[code]

[code]

[2020-07-23 06:43] KFlash commented on #90
Any ideas on how to solve it?

[2020-07-23 06:46] 3cp commented on #90
No idea now. The `src/parser.ts` file is bit deep.

[2020-07-23 07:06] moroshko opened #91 "Invalid JSX blows up with: JavaScript heap out of memory"
Invalid JSX blows up instead of throwing a parse error:

* meriyah: 2.1.0
* node: 12.18.2

[code]

[2020-07-23 07:10] KFlash commented on #90
Far as I know jsx is separated from rest of the code in parser.ts. So I guess only 5 methods related to jsx. Everyone have jsx in the func name

[2020-07-23 09:35] 3cp commented on #90
I will debug it when I got more time.

[2020-07-24 03:20] 3cp commented on #90
I didn't fix the duplicated scan, but figured out how to bypass the wrong currentChar.

[2020-07-24 03:21] 3cp commented on #91
Sounds like a missing check on EOF in jsx parser.

[2020-07-24 05:56] #90 closed

[2020-07-24 05:56] #91 closed

[2020-07-25 03:18] moroshko commented on #48
@KFlash It would be great to have TypeScript support. What's the best alternative for now?
@lukeed What are you using to parse TypeScript?

[2020-07-25 03:35] lukeed commented on #48
I'm still using `buntis`, even though it was recently deleted entirely – which is very disappointing.

[2020-07-25 04:23] KFlash commented on #48
Eslint have it's TS parser, but I guess it's too slow? Note that Meriyah was more or less some code my students did in a project,.

For now Eslint is the only solution or Babel, but I'm working on the Escaya project - which is my own code. In the rewrite I'm doing and the preparations for v. 1.0 release I plan to add a factory function kind of plugin so you can replace AST in the format you want.

[2020-07-25 04:34] lukeed commented on #48
From what I understand though, escaya cannot replace anything. It's using its own AST format which means all other tools cannot interop.

I've enjoyed watching you and your students' work develop, but can you please briefly mention why buntis was deleted? It was unique in its featureset _and_ was immediately useful. I am 100% supportive of exploring new avenues, but "replacing" buntis with escaya

[2020-07-25 04:44] KFlash commented on #48
Escaya uses it's own AST as you have seen in the code online because of improved performance. Code online is still a WIP.
My current Escaya code is different, and will let you use plugins to output the AST you want. I'm still not there.

Attached image may give you an idea on how I plan it.

Some students deleted it as it was part of their project, and it was too much "edge cases" that couldn't be

[2020-07-25 04:47] lukeed commented on #48
Cool, thank you.

Looking forward to Escaya's progress 👍

[2020-07-25 04:54] KFlash commented on #48
I will soon enough open a PR on the Escaya repo with the first draft of v. 1.0. Then you will get some more ideas. Still not there.

For now Escaya is on a basic level where I work out all edge cases for recover and incremental mode. But parses JS just fine.

[2020-07-25 05:10] lukeed commented on #48
Would you consider shipping an entry point that's a preconfigured set of plugins for the ESTree format? And/or the Babel format?

It could look like
[code]

The first two extend the last, and this way you can avoid 100 faulty implementations of Escaya + ESTree floating around.

This way you can also focus on performance with the raw parser, and allow there to be _some_ overhead/perf loss thru the

[2020-07-25 05:31] KFlash commented on #48
I will look at it when the times come, but there is a lot of things to consider and think through before I get so far.

E.g. the 'kind' property - known as 'nodeType' in the early only code - can never be changed.  It's a unique set of numbers that keep track of the AST nodes in the internal walker and incremental. Shouldn't be a problem because the 'kind' property is only there in recovery / incr

[2020-07-25 05:36] lukeed commented on #48
Will do. I know it's very much a future task, if any, but just wanted to mention it. Thanks 👍

[2020-07-25 06:47] KFlash commented on #48
I will also need to think about how to add diagnostic messages through plugins etc.

I'm getting closer to the stage where I need to think through all this. Maybe I invite you to a private repo soon as I get there to see if you get a few ideas.

Incremental parsing code next on my TODO now.

[2020-07-25 08:18] KFlash commented on #48
@lukeed opened this issue ticked https://github.com/escaya/escaya/issues/8

[2020-07-26 14:25] KFlash commented on #48
@lukeed Look at [this gist](https://gist.github.com/KFlash/361a6f5a99ce1aa2a492bddca9d0fa03). This is how I temporary do it now in Escaya. Ideas how this can be turned into a plug-in?

[2020-09-17 07:38] neumatho opened #93 "BigInt"
Hi,

If you using a really big number in hexadecimal format, e.g. this one taken from your unit test 0x12300000000000000000000000000000000n, then the value of the Literal node only get the value of 9 instead of the real number, which is 99022168773993092867842010762644549533696.

I think it is because your doing a parseInt on a number that have exponential included.

The type of the node is also B

[2020-09-17 09:48] KFlash commented on #93
Thanks for this info! This was done by some students of mine. Do you want to do a PR to solve it?

[2020-09-17 12:32] neumatho commented on #93
Well, I was hoping that someone on the Meriyah team will fix it :-)

[2020-09-17 13:06] KFlash commented on #93
cc/ @3cp Any insight in this issue?

[2020-09-18 07:04] #93 closed

[2020-09-18 09:17] 3cp commented on #93
My PR didn't change the type BigIntLiteral to Literal. I will double check estree spec.

[2020-09-18 09:59] neumatho commented on #93
Just want to be sure that the changes work. Note that the parser does different things depending if your giving a big number as a normal number or in hexadecimal. I think you may loose precision for hexadecimal. Please double check with the number given above.

-Thomas

[2020-09-18 11:15] 3cp commented on #93
Yes, your case is added into the unit tests.

[2020-09-18 21:08] 3cp commented on #93
Thomas, the `BigIntLiteral` is right in the spec, a sub class of `Literal`. https://github.com/estree/estree/blob/d1cb85c0da029f905d3ef1930cec26d836f9d73f/es2020.md#bigintliteral

[2020-09-19 05:37] neumatho commented on #93
You're right it is a new interface, but the type does not change, like for regex literals: https://github.com/estree/estree/blob/d1cb85c0da029f905d3ef1930cec26d836f9d73f/es5.md#literal. They are also called Literal as type.

If you try a bigint with Acorn on https://astexplorer.net/, then you will see it is also called Literal.

[2020-09-19 05:45] 3cp commented on #93
I see, you are right.
We probably need to double check all estree interfaces.

[2020-09-20 12:12] davidbonnet opened #95 "Feature: support `loc` flag when using `onComment`"
Setting `{ loc: true, onComment: [] }` should set the `loc` property on generated comment objects.

[2020-09-20 13:47] KFlash commented on #95
Sounds like a good idea. Do you want to do a PR ?

[2020-09-21 12:39] KFlash commented on #95
@aladdin-add Maybe add this to next release?

[2020-09-21 23:10] 3cp commented on #93
@neumatho pls try v3.0.0.

[2020-09-24 23:13] 3cp commented on #93
@neumatho the v3.0.0 was shipped with wrong dist files. Pls try v3.0.1.

[2020-09-25 07:21] neumatho commented on #93
That seems to work.

[2020-09-28 06:56] neumatho opened #97 "Named export"
Hi,

It seems that Meriyah does not comply with the AST standard when having named export, e.g. **export * as x from 'a'**.

First of all, it creates a _ExportNamedDeclaration_ where it stored an _ExportNamespaceSpecifier_ in the _specifiers_ array. The last one is unknown according to the specifications. If you compare it to Acorn, which seems to do it the right way, then you should create an _Ex

[2020-09-28 13:10] neumatho opened #98 "ChainExpression"
Hi,

For the expression **(a?.import("string")?.import.meta??(a))**, the argument "string" is stored as a ChainExpression node with a Literal in expression property. The ChainExpression should be skipped and the Literal should be stored directly in arguments instead. According to the AST specifications, it is not allowed to have a Literal in expression property in a ChainExpression node:

https://

[2020-09-28 13:11] KFlash commented on #98
Cc @3cp

[2020-09-28 13:12] KFlash commented on #97
Cc @3cp

[2020-09-29 05:34] neumatho commented on #98
The same problem with **a?.[x]**. Here you create an _ExpressionStatement_ with a _MemberExpression_ in _expression_ and a _ChainExpression_ in _property_. It should be the other way around. _ExpressionStatement_ with a _ChainExpression_ in _expression_ and the _MemberExpression_ in _expression_.

[2020-09-29 06:21] KFlash commented on #98
Sounds reasonable. As said before some students of mine did this code, and I personally avoid ESTree.

@aladdin-add Ideas?

[2020-09-29 06:25] KFlash commented on #98
@neumatho So I get you correct. The result you want is like [this](https://escaya.github.io/escaya/?code=a%3F.%5Bx%5D&method=parse&range=undefined&loc=false&next=false&cst=false&module=false&raw=undefined&jsx=undefined&directives=undefined&attachComment=undefined&webCompat=undefined&lexical=undefined) but with ESTree AST ?

[2020-09-29 06:30] neumatho commented on #98
I want it like this, which is the way Acorn generates it and seems to comply with the specification:

{
  "type": "Program",
  "body": [
    {
      "type": "ExpressionStatement",
      "expression": {
        "type": "ChainExpression",
        "expression": {
          "type": "MemberExpression",
          "object": {
            "type": "Identifier",
            "name": "a"
          },

[2020-09-29 06:33] neumatho commented on #98
and for (a?.import("string")?.import.meta??(a)) is should look like this:

[code]

[2020-09-29 11:24] 3cp commented on #98
I did the migration from old estree spec to the new spec ChainExpression.
I can reproduce all the bugs here, clearly we missed some test coverage. Will need some time to understand where went wrong, hopefully not as nasty as those known bugs in destruction.

[2020-09-30 09:01] neumatho opened #99 "Wrong directive"
Hi,

If you parse the expression **"valueOf" in __proto** with the Directives option enabled, then a directive property is added to the ExpressionStatement node, which is wrong. The directive property should only be added for "use strict" literals.

Meriyah also adds a BinaryExpression in the expression property, which is not legal according to the AST specification for directives. See https://git

[2020-09-30 23:29] 3cp commented on #98
The bug is from I used a global flag here.
https://github.com/meriyah/meriyah/blob/d3de211ef404cc10b736e853507e2f93491e4d4f/src/parser.ts#L3964

This is to record whether an expression contains optional chain, so that later we can wrap the whole expression in ChainExpression node according to the spec.

But the usage of global flag is wrong, in `a?.[x]`, there are actually two expressions: `a?.[]`

[2020-09-30 23:39] KFlash commented on #98
Maybe try to look at the [Escaya source](https://github.com/escaya/escaya/blob/master/src/parser.ts#L2000).

[2020-09-30 23:41] 3cp commented on #98
The escaya is using old syntax OptionalExpression which doesn't require wrapping, just like the old meriyah implementation I think.

[2020-10-01 00:21] KFlash commented on #98
Escaya are just following the ECMA specs. I updated the chaining code in escaya now to follow the specs 100%. It seems like ESTree tries to do the same, but more complex.

Where is the wrapping?

[2020-10-01 00:29] 3cp commented on #98
https://github.com/meriyah/meriyah/blob/d3de211ef404cc10b736e853507e2f93491e4d4f/src/parser.ts#L3990-L3999

[2020-10-01 00:33] KFlash commented on #98
https://github.com/acornjs/acorn/blob/master/acorn/src/expression.js#L300

[2020-10-02 12:26] #98 closed

[2020-10-04 23:12] KFlash commented on #99
cc @3cp @aladdin-add

[2020-10-06 05:38] 3cp commented on #97
This looks like a new change in syntax. https://github.com/estree/estree/issues/202

[2020-10-06 05:39] 3cp commented on #97
FYI `@babel/parser` still does the old way like us. I will update our implementation.

[2020-10-06 20:41] #97 closed

[2020-10-06 20:42] #99 closed

[2020-10-07 04:38] #86 closed

[2020-10-07 04:39] KFlash commented on #73
@3cp This has been fixed?

[2020-10-07 04:58] 3cp commented on #73
I didn't.

[2020-10-07 05:01] KFlash commented on #73
Then it's not fixed. So I reopen

[2020-10-12 05:07] neumatho opened #102 "Expression after do/while"
Hi,

The following statement cannot be parsed in Meriyah, while both Acorn and Esprima parses it without problems.

`{ do { } while (false) false }`

Here is the result from Acorn which should be returned:

[code]

-Thomas

[2020-10-12 07:24] neumatho opened #103 "Single line comment with new line"
If you have a single line comment which ends with a new line, the new line is included in the value in the collecting list.

[code]

It is the value property in merComments. It should only be "123", but as you can see, it includes the new-line character as well:

[code]

Both Esprima and Acorn does not include the new-line.

-Thomas

[2020-10-12 08:19] neumatho opened #104 "Comment ranges at wrong location"
Try to run the following code in e.g. RunKit:

[code]

If you then compare the ranges in the comment array for both Meriyah and Esprima, then you will see the values are not the same (start is 2 under, end is 1 under). If you then look at the generated code, which are generated from the Meriyah and Esprima tree and compare them, then you will see the comments are placed at the wrong places from th

[2020-10-12 08:26] KFlash commented on #104
@3cp Didn't you solve this before so this could work with ESCodegen?

[2020-10-12 09:55] bstefanescu opened #105 "The class decorators are not correctly positioned in the AST."
The class decorators array is put before the `Class Declaration` element instead of being put as the `decorators` property's value of the `Class Declaration` element.

Here is an example. Given the following JavaScript code:

[code]

the output AST is:

[code]

As you can see the `ClassDeclaration.decorators` property is an empty array. But just before the `ClassDeclaration` object there is an arr

[2020-10-12 11:05] 3cp commented on #104
It was #83. Fixed start of non-comment token.

I will have a look of comment, the range of comment is not constructed by a token.

I think I noticed something wrong with comment before. But didn't pay too much attention because it didn't affect my use cases.

[2020-10-12 11:33] neumatho opened #106 "Static computed methods"
If you parse the following code, the static property for each MethodDefinition is not set to true.

[code]

It works fine for non-computed methods, e.g.

[code]

-Thomas

[2020-10-13 00:49] 3cp commented on #104
We set start for comment after `//` or `/*`, while other parsers set start before them. There is also difference on the ending `\n`. I see ESTree has no requirement on comment token/node, I can update our implementation to follow other parsers.

But this is not the only issue here. In our ast tree, the finally block (in ast node, not the onToken) has wrong start, it should start at `{` after keywo

[2020-10-13 03:11] fisker opened #107 "Version didn't updated"
[code]

https://github.com/meriyah/meriyah/blob/914a336b3fe4125f291dc246ccc64baa1a7d4a68/src/meriyah.ts#L29

[2020-10-13 03:33] fisker opened #108 "Wrong range of `TaggedTemplateExpression`"
[code]

`Node.range` should be `[0, 6]` and `Node.quasi.range` should be `[4, 6]`

[2020-10-13 03:41] KFlash commented on #104
HTML comment is part of the AnnexB extension. Same as other parsers. HTML comment skips either `` and then parsed as a single line comment.

[2020-10-13 03:54] #107 closed

[2020-10-13 03:54] 3cp commented on #107
Thx. Will be fixed in next release.

[2020-10-13 04:52] fisker opened #109 "Wrong `TemplateElement` value"
[code]

`Node.value.cooked` should be `a`

[2020-10-13 05:15] neumatho commented on #98
It looks like it is still needed to enable the next option for optional chaining. I think this should not be needed, since it is in the official specification now.

-Thomas

[2020-10-13 05:58] neumatho commented on #98
There are still some issues with this. Try **a?.b[3].c?.(x).d**, then Acorn outputs this tree:

[code]

Meriyah has problems with the **[3]** and **(x)** part.

Also the **({})?.a["b"]** parses wrong. It should look like this:

[code]

-Thomas

[2020-10-13 06:13] fisker opened #110 "`ChainExpression > CallExpression` missing `optional`"
[code]

`Node.expression.optional` should be `true`

[2020-10-13 09:06] neumatho opened #111 "BigInt value"
The bigint property for a big integer includes the 'n' at the end. This should be excluded. It should only be included in the raw property.

-Thomas

[2020-10-14 00:23] 3cp commented on #104
That's a weird spec, it's different from comment in html format. Since the spec says
[code]
I will make the start of HTMClose comment before "\n-->"

[code]

[2020-10-14 20:46] 3cp commented on #98
In case I missed this, can you create a new issue or add to #110? Thx.

[2020-10-15 05:56] neumatho opened #113 "Still issues with optional chaining"
First it looks like it is still needed to enable the **next** option for optional chaining. I think this should not be needed, since it is in the official specification now.

There are still some issues with optional chaining. Try **a?.b[3].c?.(x).d**, then Acorn outputs this tree:

[code]

Meriyah has problems with the [3] and (x) part.

Also the **({})?.a["b"]** parses wrong. It should look like

[2020-10-15 06:11] 3cp commented on #98
This is fixed in latest commit in #112.
Added your test cases too.

[2020-10-15 06:13] 3cp commented on #113
Thx, #112.

[2020-10-15 06:25] 3cp commented on #102
@KFlash I saw in meriyah code, it referenced ECMA-262, section 7.9, page 21.
But it's currently in a different section of ECMA.
This is probably new in the standard? http://www.ecma-international.org/ecma-262/11.0/index.html#sec-automatic-semicolon-insertion

[2020-10-15 06:26] 3cp commented on #102
nvm @KFlash I saw our code uses OptionsSpecDeviation to force the semicolon here.

[2020-10-15 06:30] 3cp commented on #102
@KFlash sorry, we didn't force it. I will add the missing implementation for the spec.

[2020-10-15 10:21] #102 closed

[2020-10-15 10:21] #104 closed

[2020-10-15 10:21] #110 closed

[2020-10-15 10:21] #111 closed

[2020-10-15 10:22] 3cp commented on #113
Closed by #112

[2020-10-15 10:23] #113 closed

[2020-10-15 10:23] 3cp commented on #103
closed by #112

[2020-10-15 10:23] #103 closed

[2020-10-15 10:30] 3cp commented on #109
@KFlash where can I find the spec for "cooked"?

In estree spec repo, I can only find

[2020-10-15 10:39] KFlash commented on #109
That's the problem with ESTree. See the specs. All invalid tagged template should be null. All other values should be as they are without the tick and non-escapes. Example '0x65' should be latter a (*cooked*). Else it's raw

[2020-10-16 22:26] #109 closed

[2020-10-16 22:27] #108 closed

[2020-10-16 22:47] #106 closed

[2020-10-16 22:57] 3cp commented on #105
Looks like a parsing bug in mode. Turn on module mode triggers the error. Script mode parsing is fine.

[code]

[2020-10-16 23:06] 3cp commented on #105
@KFlash any idea why we treated Decorator as a module item, while the spec in the comment didn't mention decorator as a module item?

[code]

[2020-10-16 23:13] KFlash commented on #105
As far as I know the decorators was designed after the "old" decorator proposal. They changed it now or going to change it

[2020-10-16 23:23] 3cp commented on #105
I see, after I remove the code, following code failed to parse.
[code]

But this is ok:
[code]

Yes, the legacy decorator proposal supports decorate before export keyword, but new proposal (but still not accepted) forces decorator after export keyword.

The decorator spec is kind of a mess, there is a new 3rd proposal going on, because not all parties agree on the 2nd proposal.

But anyway, our su

[2020-10-16 23:27] 3cp commented on #105
There was nothing in estree spec before they added this.

[2020-10-16 23:32] 3cp commented on #105
I put the fix to a branch now.

[2020-10-17 09:25] 3cp commented on #105
Legacy decorator is very popular, has been used in many front-end frameworks. TypeScript's decorator closely resembles legacy decorator. New decorator proposal is making noise for years, but I have not encountered any real usage.

Babel parser has moved from legacy to latest proposal, but provided two switches, one to turn on legacy decorator syntax, another only to turn on decoratorBeforeExport (

[2020-10-17 10:07] KFlash commented on #105
I wonder when the this will move on to Stage 3. Has taken years

[2020-10-21 06:18] neumatho opened #116 "for-in cannot be parsed"
The following for-in statement cannot be parsed in Meriyah, but works fine in Acorn. The Chrome browser can also parse it when entering it in the console window.

`for(var a = /a/ in []);`

-Thomas

[2020-10-21 06:21] neumatho opened #117 "Optional-chaining next option"
I think that optional chaining should be enabled by default. At the moment, you need to specify the _next_ option before it works. As it's now part of the official specification, I don't see why _next_ should be enabled.

-Thomas

[2020-10-23 02:42] #105 closed

[2020-10-23 03:09] 3cp commented on #116
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Invalid_for-in_initializer

Should be only an error in strict mode.

[2020-10-23 03:54] 3cp commented on #116
Found some trouble, it seems there are some js features (for example `let`) implicitly turn on strict mode.

In node:
[code]

[2020-10-23 04:01] 3cp commented on #116
I could find the case in ECMA2020 spec about `let` turning on strict mode. Maybe it's a nodejs/v8 deviation from spec? @KFlash

[code]

[2020-10-24 04:41] 3cp commented on #116
Add ref: while for-in error only applies in strict mode, for-of error is universal.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Invalid_for-of_initializer

[2020-10-25 05:46] #116 closed

[2020-10-25 06:02] #117 closed

[2020-10-25 23:35] KFlash opened #120 "Avoid parsing decorators without flag"
See this line https://github.com/meriyah/meriyah/blob/master/src/parser.ts#L423

Should not be parsed if the option flag isn't set for it.

Line 424 . What it checks? If for export, it's faster to set it in the end of the switch statement to avoid checking if export keyword exist. If that again trigger something regarding class, pass a param alongside or do the same for class. That way no need for

[2020-10-26 01:58] 3cp commented on #120
The check is moved to `parseDecorators` in order to avoid some repeated checks before few `parseDecorators` calls.

Yes, checking after switch can remove many checks in parseExportDeclaration and parseClassDeclaration.

[2020-10-26 21:29] #95 closed

[2020-10-27 06:02] fisker opened #123 "Wrong range `CallExpression` inside template"
This one

[code]

and

[code]

The second one `b()` has wrong location

[code]

[code]

The `loc.start` should be the same.

[2020-10-27 06:14] #120 closed

[2020-10-27 06:45] fisker opened #124 "Question: decorator before export has different location with `babel`"
[code]

We have column `0 ~ 30`

While `@babel/parser` has column `11 ~ 30`

[code]

Should we align with them?

[2020-10-27 07:06] 3cp commented on #124
I am not very sure babel's way is right, babel did not count the decorator as part of the ExportNamedDeclaration. This is kind of grey area since decorator is not in the ecma spec yet. cc @KFlash

BTW, the decorators-legacy returns same result.
[code]

[2020-10-27 07:08] 3cp commented on #124
In ecma, this whole statement `@decorator export class Bar {}` is called a module item. It feels nature for it starting at column 0?

[2020-10-27 07:13] #123 closed

[2020-10-27 07:18] 3cp commented on #123
Release all latest code in v3.1.0

[2020-10-27 07:23] 3cp commented on #124
Few other parsers are same as babel, I guess I need to fix ours.

[2020-10-27 07:23] fisker opened #125 "Wrong location of `JSXEmptyExpression`"
[code]

Should swap `start` and `end`

[2020-10-27 07:26] fisker commented on #124
That would be great!

[2020-10-27 07:39] KFlash commented on #124
@fisker Out of curiosity. What kind of project do you use Meriyah? Simple parsing, or heavy parsing? 我只是古玩。

@3cp Nothing in the experimental folder in ESTree repo, or any PR for this?

[2020-10-27 07:42] fisker commented on #124
I'm implementing meriyah support for prettier https://github.com/fisker/prettier/pull/685

[2020-10-27 07:48] fisker opened #126 "Wrong location for empty inline comment `//`"
[code]

[2020-10-27 07:49] KFlash commented on #124
Interesting! And I worked in Hong Kong for 7 years and I only head mandaring all the time, so I guess different dialects, and I starting to be rusty. Better in speaking it rather than writing it :)

[2020-10-27 08:28] KFlash commented on #126
@3cp Look at this gist. It's from my private code  https://gist.github.com/KFlash/fa461f7f0cd080e65227eb9a0a683938

If you "adopt" this I guess most of the problems will be solved. Doing `parser.pos - parser.columnPos` after WS has been skipped gives me number`2` as @fisker mentioned.

[2020-10-27 09:04] fisker opened #127 "Location of `JSXAttribute.value` inconsistent with other parsers"
[code]

`babel`/`espree`/`flow` all have range `[15, 27]`

[2020-10-27 09:11] 3cp commented on #125
We tokenised `{ }` as `{` and `[space]}`, the space is not a separate token. So when `parseJSXEmptyExpression()` runs, it didn't move to next token, but tries to finishNode from current position.

@KFlash we probably need to tokenise it as `{`, `[space]` and `}`, otherwise finishNode without nextToken/consume would not work. If don't change tokenisation, I guess we would need some ugly patch.

[2020-10-27 09:22] fisker commented on #125
FYI: `'<div>{/* comment*/}</div>'` have same problem

[2020-10-27 09:29] 3cp commented on #125
Same cause, comment is not counted as a token in meriyah, but empty space attached to next real token.

[2020-10-27 09:33] fisker opened #128 "Wrong `Literal.raw` inside JSX"
[code]

[code]

To be more specify, it's `JSXAttribute.name`

[2020-10-27 09:48] fisker commented on #128
Another case

[code]

[2020-10-27 10:53] fisker opened #129 "Can we add `JSXText.raw`?"
[code]

`babel` has `.extra.raw`, `flow`/`espree` has `.raw`

[2020-10-27 13:49] fisker commented on #129
spec has  `raw`

https://github.com/facebook/jsx/blob/master/AST.md#jsx-text

[2020-10-27 15:03] fisker opened #130 "Wrong 'ExpressionStatement.directive'"
[code]

First one should be `b`

[2020-10-27 22:08] #126 closed

[2020-10-27 22:10] 3cp commented on #126
There was an missing init before loop in my code. Your gist is much bigger change, I will try it for #125.

[2020-10-27 22:24] 3cp commented on #125
Without changing tokenisation, the patch look not too bad.

[2020-10-27 22:48] KFlash commented on #126
@3cp I'm still experimenting with my gist. Dealing with comments now

[2020-10-27 23:30] 3cp commented on #130
Excellent edge case.

[2020-10-27 23:35] #130 closed

[2020-10-27 23:38] KFlash commented on #126
@3cp Study this gist https://gist.github.com/KFlash/688af509a649aa8180d4cb17e7b9de81

Confirmed it's easy to extract comments

[2020-10-27 23:59] 3cp opened #132 "TODO refactor comments extraction"
https://gist.github.com/KFlash/688af509a649aa8180d4cb17e7b9de81

[2020-10-28 00:02] KFlash commented on #132
Also take a look at this gist https://gist.github.com/KFlash/607303002b5b162e568ba84fa0c146ba

See the last function. It extracts trailing and leading comments from the source based on the pos / range where you are in the source text. Just invoke it before or aftter a token ;)

[2020-10-28 00:46] fisker commented on #129
I tested other parsers, so we have another problem, the value was wrong

[code]

Should be `{value: " ", raw: "&nbsp;"}`

[2020-10-28 00:49] KFlash commented on #132
@3cp I updated the first gist and included Hashbang comments. If no exclamation char (!) seen or not at start of line (pos === 0), it will break out of the loop and the "normal" scanner will take over. It's kind of perf tweak.

[2020-10-28 01:07] 3cp commented on #129
We didn't processed the value. I could not find spec on value in facebook/jsx doc. Any inside?

[2020-10-28 01:14] 3cp commented on #129
If prettier only need raw, you are probably fine for now after we release the jsx PR.
To proper support value, we would need to add the whole table of html entity names.

[2020-10-28 01:14] fisker commented on #129
Yes, it's good enough for prettier.

[2020-10-28 01:16] fisker commented on #129
Better open another issue about `JSXText.value`, we could improve later.

[2020-10-28 01:26] 3cp opened #133 "TODO process JSXText value"
Copied from #129
[code]
Should be `{value: " ", raw: "&nbsp;"}`, but we didn't process value `{value: "&nbsp;", raw: "&nbsp;"}`.

Reference: https://github.com/fb55/entities

[2020-10-28 01:29] fisker opened #134 "`FieldDefinition` -> `ClassProperty`?"
`babel` / `flow` / `@typecript-eslint/parser` uses `ClassProperty`

I believe `FieldDefinition` is a old AST type from `babel`?

[code]

[2020-10-28 01:43] fisker opened #136 "BigInt should be allowed to use as object key"
[code]

[code]

[2020-10-28 01:59] fisker opened #137 "Can't parse `"\8"`"
[code]

This is valid code.

[2020-10-28 02:00] 3cp commented on #136
What's your node/browser version?
[code]

[2020-10-28 02:03] 3cp commented on #136
node v15 works.

[2020-10-28 02:09] KFlash commented on #136
It's a valid case. BigInt can be a property key. Also for Class

[2020-10-28 02:13] KFlash commented on #137
Only in sloppy mode

[2020-10-28 02:15] fisker commented on #137
But seems that we don't have an option to parse it.

[2020-10-28 02:16] KFlash commented on #137
Look at string literal escape code

[2020-10-28 02:18] 3cp commented on #136
I see where is missed.
[code]

Our Token.IsStringOrNumber only applies to string and number, not bigint.
Should I add bigint to Token.IsStringOrNumber?

ecma spec seems indicating bigint can be used anywhere a normal number fits.
[code]

[2020-10-28 02:21] KFlash commented on #136
Yes. It's easy to update token.ts

[2020-10-28 02:23] fisker commented on #73
Quote from https://github.com/meriyah/meriyah/issues/73#issuecomment-609847336

@KFlash Can you explain relationship between `meriyah` and `seafox`? We don't want add similar parsers to Prettier. Which one should we use?

[2020-10-28 02:24] 3cp commented on #136
also need to update parseLiteral to check bigint.

[2020-10-28 02:34] KFlash commented on #136
why? How do you parse BigInt now? Just check for "if (token === Token.BigInt") return parseBigInt)

[2020-10-28 02:35] KFlash commented on #73
Meriyah. Seafox is just experimental to see and understand what my students did wrong. Meriyah have support for jSX, comment extraction etc. Seafox doesn't support this.

[2020-10-28 03:18] 3cp commented on #136
yes, I am adding the line to parseLiteral, if you add the line outside of parseLiteral, you need to add it in many places after Token.IsStringOrNumber check.

[2020-10-28 03:34] 3cp opened #139 "Bare block statement"
There is a troublesome change in latest various js implementations.
When a statement starts with `{`, it used to be a block statement.

I am pretty sure that's the case in early 2016. Back then, when you write bare `{a:1}`, it's not an object literal, Chrome (and every other js implementations) thinks is a block statement with one inner statement `1` and it's labelled with `a`, similar with
[code]

[2020-10-28 03:37] 3cp commented on #139
To be clear, we are on the old behaviour.

[2020-10-28 03:50] KFlash commented on #139
Give me 1 hour to think through this, and I will do an experiment in my private code.

Do you have a link to the new behaviour in chrome? source?

In all cases it's super difficult to track and later determined if it's an obj lit or block statement on statement level. That's why all parser use the old behaviour. It was ( and still is I guess ) a issue ticket regarding this on the Acorn repo a few

[2020-10-28 04:50] 3cp commented on #139
You can just try in chrome/firefox/safari browser console.
I don't have article on this change, just noticed over the years.

[2020-10-28 04:51] KFlash commented on #139
I think it's a bug in Chrome? In case {a:1} this is an valid LabelledStatement on statement level. See ECMA specs.
If this followed by for example an assign - = it will become obj lit. In that case you need to reparse from the position of { as an expression and not statement. Thats expensive

[2020-10-28 04:52] 3cp commented on #139
This is probably why safari took super simple approach.
The behaviour change is not an issue in practical code, nobody ships code with either bare block statement or bare object literal.

[2020-10-28 04:56] 3cp commented on #139
I recall I showed the syntax error for `{a:1,b:2}` in chrome console back in 2016 while `{a:1}` has "no issue", confused the hell out of a group of seasoned programmers. 🤣

[2020-10-28 05:11] KFlash commented on #139
Both of your cases are valid statements. I checked webkit source used by Safari. It's also there parsed as statement

[2020-10-28 05:13] 3cp commented on #139
I tried in latest safar v14, `{a:while(false){}}` is a syntax error in browser console. Maybe the interactive console runs different code path.

[2020-10-28 05:14] #136 closed

[2020-10-28 05:18] 3cp commented on #134
Also PrivateName -> PrivateIdentifier

[2020-10-28 05:20] 3cp commented on #134
Latest is called PropertyDefinition, not ClassProperty?

https://github.com/estree/estree/blob/master/experimental/class-features.md

[2020-10-28 05:22] 3cp commented on #134
https://github.com/estree/estree/pull/222

[2020-10-28 05:24] KFlash commented on #139
In V8 same https://github.com/v8/v8/blob/master/src/parsing/parser-base.h#L5096

It's a statement

[2020-10-28 05:25] fisker commented on #134
I didn't know that. I thought estree hasn't support class property.

I'm good with `PropertyDefinition`.

My purpose here is trying to align `meriyah` ast with other parsers, I think other parsers will change their asts, then no rush.

[2020-10-28 05:30] 3cp commented on #134
Maybe you can add support of old FieldDefinition for now? I will do a thorough cleanup in future to align with latest estree spec.

[2020-10-28 05:31] #125 closed

[2020-10-28 05:31] #127 closed

[2020-10-28 05:31] #128 closed

[2020-10-28 05:31] #129 closed

[2020-10-28 05:31] KFlash commented on #134
@3cp I gave @fisker a "little upgrade" if he checks his email

[2020-10-28 05:45] fisker opened #141 "`main` field in `package.json`"
The `browser` field already pointed to `meriyah.umd.js`, shouldn't `main` point to `meriyah.cjs.js`?

And `browser` might want use the minified version?

[2020-10-28 05:46] fisker commented on #134
Already did.

[2020-10-28 05:50] fisker commented on #134
@KFlash Thanks for you invitation, I might don't have time to contribute thought :smile:

[2020-10-28 05:52] 3cp commented on #141
I guess the benefit is that the umd main allows jsdelivr (or unpack) to serve umd as default main. So the short url can be used in `<script>` tag without any module loader.

https://cdn.jsdelivr.net/npm/meriyah@3.1.0 is same as the full path https://cdn.jsdelivr.net/npm/meriyah@3.1.0/dist/meriyah.umd.min.js

[2020-10-28 05:55] fisker commented on #141
As I understand `jsdelivr` looks for `browser`

https://github.com/prettier/prettier/pull/8387#issuecomment-633232840

We can add `unpkg` field for `unpkg`

[2020-10-28 05:56] fisker commented on #141
Configuring a default file in package.json
For packages hosted on npm, we support setting a "default" file for each package. This file is displayed at the top of directory listings on our website and available under shorter URL on the CDN. The default file can be configured by setting one of the following fields in package.json (ordered by priority):

jsdelivr
browser
main

Copied from https://www

[2020-10-28 06:01] 3cp commented on #141
Thx! Good to know. It's @KFlash's call.
Note this is a breaking change.

[2020-10-28 10:35] bstefanescu opened #143 "Infinite loop in class body"
Parsing the following (invalid) class will enter an infinite loop in `parseClassBody`, instead of reporting a syntax error:

[code]
This happens every time you use a comma instead of a semicolon as a field or method delimiter.

[2020-10-28 11:11] #124 closed

[2020-10-28 13:12] #143 closed

[2020-10-28 13:26] 3cp commented on #139
That's true.
My guess is that chrome could have two parallel parsing branches. But `1` is unlikely (to user) to be a statement, so the branch of object literal got higher score and prevail.

[2020-10-28 13:45] KFlash commented on #139
Maybe, but if you want to do this you can - if seen an identifier or `[`, parse it out both as  an expression and statement, and save the result somewhere. Then if valid expression start after parsing out the "BlockStatement", you return that code instead.

`[` is needed, because it could be a computed property name and not start of array literal :)

You could tweak this because you know already w

[2020-10-28 13:58] KFlash commented on #139
V8 do eager parsing as 2nd stage and then construct the tree. Maybe you can inherit that method for faster parsing too. Then you shouldn't need to parse out a statement or expression as a whole before doing the eager magic

[2020-10-28 13:59] 3cp commented on #139
I am not going to try this hard topic anytime soon :-)

[2020-10-28 14:03] KFlash commented on #139
I guess there is a reason why no js parser have implemented it

[2020-10-28 14:33] 3cp commented on #137
Pretty sure ecma allows `\8` and `\9` as NonEscapeCharacter.
Why we reject them? I couldn't find anything about these two in ecma spec.

[2020-10-28 22:17] 3cp opened #146 "Need to process win32 line break correctly"
I noticed we skipped lots of test files in test262-parser-tests, I tried to unblock them to see what happens.

For example the first skipped file:
https://github.com/meriyah/meriyah/blob/756d990eb3c98487197bade97cb5d34f77a86ea0/test/test262-parser-tests/parser-tests.ts#L9

The 110fa1efdd0868b8.js file contents is
[code]

But the file is using `win32` line break `\r\n` which causes issue in meriyah

[2020-10-28 22:49] 3cp commented on #146
It seems our code didn't handle LineContinuation inside string literal at all, the successful pass on `\` + `\n` was an accident.

[2020-10-28 22:52] KFlash commented on #146
strange. Can you do something like [this](https://github.com/escaya/escaya/blob/master/src/lexer/string.ts#L140)

[2020-10-28 22:57] 3cp commented on #146
I did not see you handle LineContinuation in that escaya code either.

[2020-10-28 23:12] KFlash commented on #146
A LineContinuation  is `\r`, so what's done is to pass all chars starting with `\` to escaped chars. Then increase the index. If no "switch match" then `return String.fromCharCode(ch);` and you get your empty code point

[2020-10-28 23:13] 3cp commented on #146
Thx, so it's not an accident. Just a missing case on `\r\n`.

BTW, it seems test262-parser-tests are being maintained poorly, many unanswered issues.

[2020-10-28 23:17] 3cp commented on #146
The LineContinuation supports `\n`, `\r`, `\r\n`, and unicode LS and PS.

http://www.ecma-international.org/ecma-262/11.0/index.html#prod-LineTerminatorSequence

[2020-10-28 23:20] KFlash commented on #146
test262-parser-tests is no good. Either try the real test suite or look into https://github.com/v8/v8/blob/master/test/cctest/test-parsing.cc for some edge cases etc

LS and PS are now allowed in string literals, but `\n`, `\r`, and `\r\n` are dissallowed.

If you read what I wrote in my last comment on how to grab the empty code point, it can be done the same for the sequence `\r\n` if you slice

[2020-10-28 23:37] KFlash commented on #146
@3cp I made it just now. https://gist.github.com/KFlash/a8452b70d3596e0f79a2b8d9b3288047

[2020-10-29 00:02] KFlash commented on #146
I'm trying to give some "super powers" to the gist I linked too so this can be solved once for all. Give me 30 min.

[2020-10-29 00:10] KFlash commented on #146
Done! https://gist.github.com/KFlash/a8452b70d3596e0f79a2b8d9b3288047

Taken from the top of my head, so didn't run any tests against this, but it should work

[2020-10-29 00:49] KFlash commented on #146
@3cp  In my gist the cases should be ordered 0, 1, 2 , and you can `index++` - skip the char - before the loop if you update the backslash consumer. I had no time to look into that.

[2020-10-29 02:02] KFlash commented on #146
Updated the gist and added escape char scanning. I tweaked it, but you still need to "adjust". I think this should solve this issue

[2020-10-29 06:46] #137 closed

[2020-10-29 06:53] 3cp commented on #137
v3.1.1 is released.
Use `webcompact: true` to support this.

[2020-10-29 07:24] fisker opened #147 "Switch `ExportNamespaceSpecifier.specifier` -> `ExportNamespaceSpecifier.exported`"
https://github.com/estree/estree/blob/master/es2020.md#exportalldeclaration

[2020-10-29 07:26] fisker commented on #147
Sorry, seems mistaken. Checking

[2020-10-29 07:26] #147 closed

[2020-10-29 07:29] fisker commented on #147
Already fixed in https://github.com/meriyah/meriyah/commit/7a7fc76f2b59faf0b5db069094a3b2584bbbe77a, I wrote this part before it. Sorry

[2020-10-29 07:35] fisker commented on #134
Another difference between babel and meriyah

babel use `PrivateName.id`, meriyah use `PrivateName.name`.

We are going to follow the new spec anyway, so no need to change for now.

[2020-10-29 08:08] fisker opened #148 "Support optional private prop?"
[code]

[2020-10-29 09:28] 3cp commented on #148
How did you access a private prop from outside of class definition of `obj`?

[code]

[2020-10-29 09:31] fisker commented on #148
[code]

[2020-10-29 09:32] fisker commented on #148
[code]

[2020-10-29 09:37] fisker commented on #148
Not outside, inside.

[2020-10-29 09:43] 3cp commented on #148
`obj?.#x` means `obj ? obj.#x : undefined`. So it doesn't make much sense here because `this` is never undefined.

It probably makes sense for `obj.#y?.a`, but again it does not really make sense, because private prop is statically checked by js compiler.

[code]

One possible usage might be
[code]

And yes, this code is fine in meriyah.

My argument is because private prop is statically checked,

[2020-10-29 09:55] KFlash commented on #148
Just follow what the proposal says

[2020-10-29 09:58] fisker commented on #148
You point make sense, I wounder why [Private Fields in `in`](https://github.com/tc39/proposal-private-fields-in-in/blob/master/README.md)? Seems static check fails on superClass privete field too

[code]

[2020-10-29 10:04] fisker commented on #148
This?

[code]

[2020-10-29 10:16] 3cp commented on #148
[code]

https://github.com/tc39/proposal-optional-chaining/issues/28
https://github.com/tc39/proposal-class-fields/pull/301
https://github.com/tc39/proposal-class-fields/pull/302

[2020-10-29 10:18] 3cp commented on #148
In short, there were lots of arguments like ours. But it's in the proposal now.

[2020-10-29 23:05] 3cp commented on #146
Any reason you write these?
[code]

Instead of keeping existing param name quote?
[code]

[2020-10-29 23:37] KFlash commented on #146
No reason. I just tried to avoid assigning of the variable inside the loop. Costs memory.

[2020-10-30 00:35] 3cp opened #149 "Use Strict Directive needs to be preflighted"
Found this issue while cleaning up test262 file, not sure if this is possible in meriyah.
It's not a serious bug in real world, as people always put use strict directive at beginning of a scope.

Meriyah rejects following code as per spec:
[code]

But failed to do so if the use strict directive is after the problematic code.
[code]

[2020-10-30 00:38] 3cp commented on #146
It turns out a very small bug in existing code, it was sitting there because of missing test coverage.
Let's just patch it for now, worry about the bigger refactoring later.

[2020-10-30 00:44] KFlash commented on #149
Should be an easy fix? What about using the mutual parser flag for this if in function body, and if on top level use a variable outside the loop.

[2020-10-30 00:44] #146 closed

[2020-10-30 00:46] 3cp commented on #149
I didn't follow. When passing `"\1"`, how did you turn on strict mode from the token (`"use strict"`) not parsed yet?

[2020-10-30 00:52] KFlash commented on #149
Give me 30 min to come up with a solution

[2020-10-30 00:57] KFlash commented on #149
It's an octal so you simply add a mutual parser flag in the number scanner and other places where octals occur. **Note** You need to reset that flag for each time you do the token dispatch. Soon as you have the mutual parser flag, try something like this

[code]

[2020-10-30 01:39] 3cp commented on #149
It's not just octal, there are many other failures in strict mode need to be handled. Browser might re-parse the whole function scope when strict mode is changed at middle of the function scope.

[2020-10-30 01:42] 3cp commented on #149
I don't understand why ecma did not enforce directive to be only allowed at top of a function scope.

[2020-10-30 01:43] KFlash commented on #149
Open an ticket in the ECMA specs repo

[2020-10-31 10:48] 3cp commented on #149
Just noticed [tenko](https://github.com/pvdz/tenko) did very well for this case.

And I found out bit more in nodejs
[code]

You see, when `"\1"` and `"use strict"` are not adjacent, **js parser did not complain**. And tenko replicated this behavour 100%!

There must be something explicit in ecma spec...

BTW for reference, leading "use strict" is always in effect as we expected.
[code]

[2020-10-31 11:12] KFlash commented on #149
What about copy Tenko on that part? Not sure about the regex but..

[2020-10-31 11:17] 3cp commented on #139
Bingo! This is a false alarm.

As you checked webkit and v8 source code, it's indeed parsed as statement. I can confirm this with nodejs (not the interactive console).

[code]

So it's just some special parsing in nodejs/chrome/safari interactive console. I totally understand why they do this in interactive console.

The real js parsers were not changed.

[2020-10-31 11:17] #139 closed

[2020-10-31 11:30] 3cp commented on #149
I will try to decipher ecma spec first. That adjacency is weird.

[2020-10-31 12:51] KFlash commented on #149
In my own language (*I invented a language similar to TS, but faster*), I'm skipping WS first, and then I do the directive scanning with tons of bitmasks. That way I can add a diagnostic (throw an error) with bitmasks fiddling, and the issue you mentioned before is non-existing. I'm not even using the scanner code.

This because the entire code is structured as an optimized finite state machine. T

[2020-10-31 23:30] 3cp commented on #149
[code]

The first case is due to `"\1"` is a directive. The two expression statements formed "A Directive Prologue" at beginning of list statements.

In the second case, `"use strict"` doest **NOT* form "A Directive Prologue" because it's not from the beginning of the list statements.

The third case confirmed `"use strict"` has no effect if it's not in "A Directive Prologue".

In short, `"use str

[2020-11-01 00:04] KFlash commented on #149
so, easy fix?

[2020-11-01 03:00] 3cp commented on #149
I am not going to try, at least for now.
This bug has no impact on real world code. It's just an edge case in the spec. People has no reason to write code like this, rather than testing a parser's spec compliance.

[2020-11-01 03:02] 3cp commented on #149
For record, the disabled test262 tests.
https://github.com/meriyah/meriyah/blob/a903f27808d9f65743f565f6e8e0967dc62d35fe/test/test262-parser-tests/parser-tests.ts#L22-L25

[2020-11-01 07:04] KFlash opened #151 "Implement snapshot without any 3rd party NPM packages"
Use of snapshots will make it much easier to test the parser and handle over the 60k different tests

[2020-11-01 22:27] 3cp commented on #151
BTW, tenko has very nice document style tests.

[2020-11-01 22:31] KFlash commented on #151
Can you "borrow" that one ?

[2020-11-01 23:17] 3cp commented on #151
Maybe.
I think a generic test262-estree should be good for us, and any estree parsers. It can keep up with latest ecma262, and latest estree specs. Sounds like lot of effort too.

[2020-11-04 11:14] fisker opened #152 "Wrong location of `ParenthesizedExpression`"
[code]

Should be `[0, 3]`

[2020-11-04 23:08] #152 closed

[2020-11-04 23:17] 3cp commented on #152
released v3.1.3.

[2020-11-05 04:17] fisker opened #153 "Missing `dist/meriyah.d.ts` file"
This file is not generated.

[2020-11-05 04:18] fisker commented on #153
Ah, found it, it's in `dist/src/meriyah.d.ts`, so fix this in package.json ?

https://github.com/meriyah/meriyah/blob/master/package.json#L9-L10

[2020-11-05 04:55] 3cp commented on #153
Not sure if this is a regression due to tsc? Let me check old versions.

[2020-11-05 04:56] 3cp commented on #153
Looks like a regression.

[2020-11-05 04:58] 3cp commented on #153
Oh, it's my code. Caused by `export { version } from '../package.json';`

[2020-11-05 04:59] 3cp commented on #153
This is troublesome for typescript. Do you have any idea how to bypass this issue?

[2020-11-05 05:06] fisker commented on #153
Another thing, this is CommentType  not right https://github.com/meriyah/meriyah/blob/cf8417b97a6f0ae9e66639bede5c2c689dadbc22/src/estree.ts#L35

[2020-11-05 05:18] 3cp commented on #153
what's wrong there?

[2020-11-05 05:19] #153 closed

[2020-11-05 05:21] fisker commented on #153
[code]

[2020-11-05 05:22] 3cp commented on #153
Right, I am not sure why there is another definition in src/lexer/comments. Should find someway to reuse.

[2020-11-05 05:26] fisker commented on #153
Change `estree.ts` and `import {CommentType}` in src/lexer/comments?

[2020-11-05 05:26] 3cp commented on #153
@KFlash there is mismatch of type

https://github.com/meriyah/meriyah/blob/cf8417b97a6f0ae9e66639bede5c2c689dadbc22/src/estree.ts#L35

https://github.com/meriyah/meriyah/blob/eeb0c067c94244b7710cd0f78e2579074e5f6f74/src/lexer/comments.ts#L14

Any idea how to define once and reuse in both places?

[2020-11-05 05:27] 3cp commented on #153
@fisker that CommentType enum in src/lexer/comments is not backed by integer, not string.

[2020-11-05 05:29] 3cp commented on #153
v3.1.4 is released with updated type path in package.json.

[2020-11-05 05:31] fisker commented on #153
We'll be able to use `meriyah` in prettier to format `.js` in next few days, but we don't use JavaScript...:smile:

[2020-11-05 05:50] fisker opened #154 "Is location of `HTMLClose` comment correct?"
[code]

We have `[6, 10]`, while babel has `[7, 10]`

[code]

[2020-11-05 06:33] 3cp commented on #154
That's what I read from ecma, SingleLineHTMLCloseComment starts with the line terminator?

http://www.ecma-international.org/ecma-262/11.0/index.html#prod-annexB-SingleLineHTMLCloseComment

Babel seems doing for "HTMLCloseComment". But based on the spec, I think it should use SingleLineHTMLCloseComment, as that's parallel to SingleLineHTMLOpenComment which has no corresponding HTMLOpenComment.

[c

[2020-11-05 07:10] KFlash commented on #153
@3cp Just change the names in estree.ts ?

[2020-11-05 07:42] fisker commented on #154
I guess the range in `meriyah` make more sense, closing.

[2020-11-05 07:42] #154 closed

[2020-11-05 08:16] 3cp commented on #154
Just curious, is there any real world code using html comments in js file? Or this is just for completeness of prettier?

[2020-11-05 08:19] 3cp commented on #153
Sure. Will do.

[2020-11-05 08:21] fisker commented on #154
I don't think there is any real world code today, but it could be in some old html file. We enabled `webcompat` to parse `"\8"`, so there will be possible to have it. Not big deal.

[2020-11-05 08:23] fisker commented on #154
I don't think there is any real world code today, but it could be in some old html file. We enabled `webcompat` to parse `"\8"`, so there will be possible to have it. Not big deal.

[2020-11-05 10:17] 3cp commented on #153
Patched in master branch.

[2020-11-06 07:02] fisker opened #155 "`package.json` path in `dist/src/meriyah.d.ts` not right"
Line 7 [`meriyah/dist/src/meriyah.d.ts`](https://unpkg.com/browse/meriyah@3.1.5/dist/src/meriyah.d.ts), it should be `../../package.json`

[2020-11-06 12:22] 3cp commented on #155
It's auto generated by tsc.
It refers to `dist/package.json` (which is also auto generated by tsc as part of the typing), not the root `package.json`.

[2020-11-07 09:16] 3cp commented on #155
I see what went wrong.

The `dist/package.json` is only generated by `npm run build`. The `npm run bundle` did not generate that file. Investigating.

[2020-11-07 09:30] #155 closed

[2020-11-07 09:31] 3cp commented on #155
v3.1.6 is released.

[2020-11-12 03:08] KFlash commented on #154
@3cp Should Meriyah implement another algorithm for comment extracting? Meriyah extract the comments the same way as Acorn, but in the end it turns out that the comment algorithm for inserting comments isn't perfect. Babel, Acorn, and Esprima suffers from it. No one seem to get it right.

@fisker What is the biggest known issues with injecting comments in Prettier? Trailing? Leading?

I went down

[2020-11-12 03:45] fisker commented on #154
Prettier use own comment attach logic, but many problems, for example, some time we move comments out `()` and people prefer keep it at the original location.  And some comment can't be attached, example `[, , /* comment */ , ]` there is no node there element is null.

I was thinking add something like `printCommentsBetweenTokenOrNode`. All parsers has token info.

[2020-11-12 04:07] KFlash commented on #154
Do you have a list over all the comment issues and comment that can be attached, like your  `[, , /* comment */ , ]` example?

How would you develop `printCommentsBetweenTokenOrNode` ?

Let me check if my own emitter can print that "impossible" comment ;)

[2020-11-12 04:22] KFlash commented on #154
@fisker I tried that "impossible" comment with my own comment attach logic, and it seems to work. Need to make it more "pretty", but it got attached

![works](https://user-images.githubusercontent.com/31855118/98895234-9c181e80-24e1-11eb-8161-f5537bbcc758.png)

[2020-11-12 04:24] fisker commented on #154
Example

[code]

Logic

[code]

[2020-11-12 04:26] fisker commented on #154
Just `null` in Node properties.

We use `Node.comments` to store comments.

[2020-11-12 04:30] KFlash commented on #154
Your solution seems expensive? For this comment `for (/* comment 1 */;/* comment 2 */;/* comment 3 */);`.
Calculate the spaces between `(` and `)`. Then use a code that can grab the comments in that range. You also need to calculate on leading and trailing.

The point is too only attach the comments, right? So after you got that array returned, you attach the comment and use the range and source l

[2020-11-12 04:31] fisker commented on #154
Another example,

[code]

If we decide to add `()` to new call.

Should we format it to

[code]

or

[code]

[2020-11-12 04:37] KFlash commented on #154
Is there a place we can chat outside a comment section, and I can help you too solve the comment issues permanently. I'm working on it right now in my own code.

[2020-11-12 04:42] KFlash commented on #154
Regarding your last examples. It depends on the original source I guess. If it's written with or without parens. But I would suggest that - if no parent to start with - it should belong to 'Foo'. So if you add parens it should be inside, not outside.

It all depends on the original source. I read from right to left when it comes to comments. That way you will always have a "parent" on left side to

[2020-11-12 04:48] fisker commented on #154
DM me https://twitter.com/fisker

[2020-11-12 04:56] KFlash commented on #154
I tweeted and mentioned you there. Anyway. Check your email. After that you can go to the /emitter folder where I'm playing around ATM.  And also check out last part of the whitespace.ts file in the scanner folder.

I think that should answer your problems

[2020-11-14 01:56] fisker commented on #57
So

[code]

will be

[code]

?

[2020-11-14 02:03] KFlash commented on #57
Comment attachment in Meriyah works the same way as Acorn, so yeah I guess it belong to "test"

[2020-11-14 02:07] fisker commented on #57
But shouldn't "test" be an object? Changing it to array seems making things complicate to me.

[2020-11-14 02:11] KFlash commented on #57
Agree.

cc / @3cp

[2020-11-14 02:19] fisker commented on #57
Maybe

[code]

Make all `null` Node to `{type: 'Null'}`

And maybe we can redesign arrays too.

Can be

[code]

[2020-11-15 16:13] tscpp opened #156 "ParserError is missing end position"
I need the end position of any parser error for my linter, but this is not an available property in the ParserError class.

[2020-11-15 22:29] 3cp commented on #156
@KFlash this is probably going to be a breaking change.
Changing `loc: {line, column}` to `loc: {start: {line, column}, end: {line, column}}`.

[2020-11-15 22:39] KFlash commented on #156
What other parsers do ?

[2020-11-15 23:08] 3cp commented on #156
I see your point. It seems babel/parser also has the `loc: {line, column}`.

[code]

@tscpp what was your previous parser?

[2020-11-15 23:16] KFlash commented on #156
@3cp I will ask him. I know his language

@tscpp  Kan du utarbeta lite mer om vad du menar? Alla "parsers" gör samma sak. Och i Meriyah är detta baserat på ECMA-standarden.  Vad är skillnaden mellan Meriyah och den tidigare koden du använde? Kan det räcka att lägga till en extra "property"? Kommer det att hjälpa dig?

[2020-11-16 12:42] tscpp commented on #156
The projected used Acorn before. I switched to Meriyah because of the performance difference and the support for ES2020. We didn't log the syntax error location before, we logged the error to the whole line. I got suggested to log the syntax error meanwhile I was working with the pull request. We want support for end positions but it was not available, so I created this issue.

If this is possible

[2020-11-16 13:46] KFlash commented on #156
@3cp It shouldn't be too hard to add extra property? See [this code](https://github.com/meriyah/meriyah/blob/master/src/errors.ts#L350). Loc already exist. Shouldn't affect the rest of the AST nodes.

@tscpp Sounds okay? I'm not sure what language you prefer? Är detta en okej lösning på problemet? För att lägga till det här?
Jag arbetade 11 år i grannlandet. Strax över gränsen talar också norska.

[2020-11-16 15:03] tscpp commented on #156
Jag föredrar engelska så att andra kan läsa mina kommentarer 😁

----

I'm making a pull request adding the property `end` to `ParserError`.

[2020-11-16 15:09] tscpp commented on #156
Should `'[' + loc.start.line + ':' + loc.start.column + ']: '` be removed from the message. I'm finding this quite unseccesary. It should be added by the client.

[2020-11-16 15:12] KFlash commented on #156
I don't think it's an standard on this. All Parsers report this differently. Try to look what others do with AST explorer

[2020-11-16 15:15] tscpp commented on #156
`ParserState` contains end. What position is that?

[2020-11-16 15:31] KFlash commented on #156
See `finishNode` in common. TS file. Add start and if that solve the issue

[2020-11-16 15:42] tscpp commented on #156
Should I use `ParserState`'s `line` and `column` for that. `finishNode` has parameters `context: Context` and `node: any` which I don't know where to find.

[2020-11-16 15:46] tscpp commented on #156
Acorn uses SyntaxError which doesn't report the start position.

[2020-11-16 16:33] tscpp commented on #156
Because the variable node is not defined in every function in `parser.ts`, I need to define the variable node at 194 places in the code. I added the parameters `context` and `node` to the function `report`, and it seems like `node` is not defined anywhere. I also looked at the references of `finishNode`, and all of the expressions calling the function define node with properties `type` and `body`.

[2020-11-16 22:54] KFlash commented on #156
cc @3cp Could you help out with this?

[2020-11-17 00:45] 3cp commented on #156
It's hard to follow without looking at the code. You can make a draft PR, doesn't need to be fully functional, but provide a base for us to discuss.

[2020-11-17 15:30] tscpp commented on #156
@3cp #157

[2020-11-20 05:30] jaydenseric commented on #151
May I suggest [`snapshot-assertion`](https://github.com/jaydenseric/snapshot-assertion); it has zero dependencies, tiny source, and is as un-opinionated as a standalone snapshot assertion function can get. It's fully tested with 100% code coverage. I rely on it to test my own packages.

One of the nice things about it is that you can save the snapshot files with whatever file name extensions make

[2020-11-20 10:26] KFlash commented on #151
@jaydenseric Do you want to put up a basic PR for this with a few running tests so we could use it as a base and port all tests?

[2020-11-21 09:56] kurtextrem opened #158 "Can meriyah be used as eslint parser?"
Did not find any docu about it, might be a nice use-case?

[2020-11-21 10:54] jaydenseric commented on #151
@KFlash is there a particular test that stands out for me to start with?

[2020-11-21 12:01] KFlash commented on #151
@jaydenseric Just make a random test. For example "let a = {}; (x);" or choose from test folder

[2020-11-22 04:12] KFlash opened #159 "track parent nodes"
@3cp Meriyah should track parent node and add it as an last option to the comment extraction code. It will help Prettier to figure out where to attach their comments.

`import /* 1 */ { /* 2 */ x /* 3 */ } /* 4 */ from 'a';`

`async /* a */ function /* a */a() {}`

Try pretty print them with Prettier and you get the point.

@fisker Would that help Prettier?

[2020-11-22 05:40] fisker commented on #159
You mean add parent to Node or Comment?

[2020-11-22 06:00] KFlash commented on #159
yes. Parent node as func arg same as comment type, loc tracking etc

[2020-11-22 06:58] fisker commented on #159
We  have many Javascript parsers, maybe not  very useful to have this for just one parser, we  need keep these parsers behave the same.

[2020-11-22 07:00] KFlash commented on #159
You are right. I'm closing this, but then how to solve all comment issues in Prettier?

[2020-11-22 07:00] #159 closed

[2020-11-28 12:27] KFlash opened #160 "Doesn't parse JSX attr element"
@3cp Can you look into why this doesn't parse? `<x prop=<y><zz /></y> />;`

@fisker Why should it parse, is it in the specs?

[2020-11-28 21:38] 3cp commented on #160
Yes it is in the spec. And our implementation seems supporting it, could be some small bug.
[code]

[2020-11-28 21:42] 3cp commented on #160
What's the problem? It parsed just fine for me.
[code]

[2020-11-28 21:49] KFlash commented on #160
You are right. It was me messed up on AST explorer. I close this

[2020-12-05 03:18] KFlash opened #161 "weird loc tracking"
@3cp See this test? https://github.com/meriyah/meriyah/blob/master/test/lexer/whitespace.ts#L228

Single line comment shouldn't have any LT - it should break. So shouldn't this test simply have zero LT and `hasNext` set to true?
Next time you invoke the `nextToken` it should consume the line terminator.

There are other similar tests too.

https://github.com/meriyah/meriyah/blob/master/test/lexer/

[2020-12-06 06:20] 3cp commented on #161
That sounds right. I knew meriyah always put leading space into next token.

What parser issue did this quirk contribute to?

[2020-12-06 06:25] KFlash commented on #161
I just compared Meriyah output against my private code when I noticed this. I don't know about any real world cases except maybe for Prettier?

[2020-12-09 01:53] tunnckoCore commented on #158
Yes, I remember. Or I was using `buntis` for a long time. I think both worked, but was using buntis because it can parse TS too.

The whole thing is that you just need to expose `exports.parse` (I think :thinking:) method and point to that file from ESLint config/cli options.

[code]

and `--parser ./path/to/meriyah-parser.js`

[2020-12-13 21:18] #160 closed

[2020-12-16 23:46] KFlash commented on #158
@tunnckoCore are you still in a urgent need for a fast TS parser? If so, is it ok it doesn't output any AST - only the parsed source stripped for types and annotations and printed back to you with no need for EScodegen and other 3rd party tools?

[2020-12-17 19:18] tunnckoCore commented on #158
Not that much. Didn't develop in a very long time.

It sounds good, but it's not very clear to me what you mean. But that's on me, I'm not in dev mode and it may be harder to get without thinking a bit more haha.

[2020-12-27 23:50] 3cp commented on #134
FYI, `PrivateIdentifier.name` is in latest spec. https://github.com/estree/estree/blob/master/experimental/class-features.md#privateidentifier

[2020-12-29 05:04] #134 closed

[2021-01-08 04:40] langbamit opened #164 "Wrong token after yield keyword"
[code]
Error: `Unexpected token: 'get'`
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/get

[2021-01-08 04:53] #164 closed

[2021-01-09 06:11] patrickmichalina opened #165 "Fails to parse `ipfs-core`"
When importing `ipfs-core` in fusebox, receive the following error:

[code]

line 212 is `yield async function ()`

[code]

I am not sure if this is a fusebox issue @nchanged

[2021-01-09 08:15] KFlash commented on #165
cc @3cp I did an online edit to try to fix this, but need to verify with tests. There was an issue in 'token.ts'

[2021-01-09 12:06] 3cp opened #166 "Add tests for fix of #164"
#164
https://github.com/meriyah/meriyah/commit/97c96f1bfc974862cd9676237273978d9e375c9f

[2021-01-14 21:34] #165 closed

[2021-01-14 21:34] #166 closed

[2021-01-14 21:52] 3cp commented on #165
Released the fix in v4.0.0, note there is breaking change on estree node name, not sure if that affects fusebox.

[2021-01-14 21:52] 3cp commented on #164
Released the fix in v4.0.0.

[2021-01-24 22:32] jods4 opened #167 "Messed up location in TemplateLiteral"
Open this in AST explorer:
https://astexplorer.net/#/gist/5456736625f73c2da2f35c1d2d7deca5/679cef422dad9ffff19e0894129d3f58ecb98740

The code is simply:
[code]

Now observe the `loc` of the `TemplateLiteral` and its `quasis` (the `expressions` seem ok).
`TemplateLiteral.loc` seem to start at the first expression hole.
Quasis `loc` end before they start, or are zero-length.

[2021-01-24 22:51] jods4 opened #168 "ES Next: Logical assignment operators"
This proposal is completed (stage 4) and supported by TS, it's expected to be part of ES2021.
https://github.com/tc39/proposal-logical-assignment

It also works in most browsers today:
https://caniuse.com/mdn-javascript_operators_logical_nullish_assignment

Can you add support for it?
I have code that uses `??=` and it doesn't parse :(

[2021-01-24 22:55] KFlash commented on #168
Try use option `next` for now.

cc / @3cp

[2021-01-24 23:30] jods4 opened #169 "Invalid location start line"
Repro:
https://astexplorer.net/#/gist/5e24a339b0b8ce07f801c77409c48cf7/8ddd8d42d1e2dd3b73626f63df71702ab14fefe1

Sample code:
[code]

Bug:
If you look at the `loc.start.line` of the innermost `BinaryExpression` (ie `'url(' + _ctx.playerImg`), you'll notice it's equal to 88, which can't be right in a 5 lines snippet.

88 is also (and correctly) its start position, so I guess it's just a typo betwee

[2021-01-24 23:31] jods4 commented on #168
I use `next: true` in my options.
Many things work, like `import.meta` but `??=` doesn't and I don't see it listed on the README.

Is it supposed to work? I can investigate further if it is, but I have the impression it's not.

[2021-01-24 23:34] KFlash commented on #168
What is the code line you try to parse? It's implemented in Meriyah without any need to enable `next`.

You can see it [here](https://github.com/meriyah/meriyah/blob/master/src/parser.ts#L3377-L3384)

[2021-01-24 23:36] KFlash commented on #169
recast? What are you trying to do? Comments?

cc / @3cp

[2021-01-25 00:07] jods4 commented on #169
@KFlash Recast is the cool lib behind codemods, also Facebook jscodeshift
https://github.com/benjamn/recast

I'm writing some code transforms with it and I choose meriyah for the parser... for now!
Recast requires a "standard" AST and in this context I value speed and ES support, so it seems meriyah is a perfect fit.
Just bummed by those location problems when testing on large real-world codebase.

[2021-01-25 00:08] jods4 commented on #168
@KFlash I saw you have a parser of your own. Would you advise using it?
I value ES support, speed and require a standard AST with locations.

[2021-01-25 00:26] KFlash commented on #168
I think Meriyah is the best choice.  I have my own parser yes, but it's part of my non-open source project.
It goal was to do the same as Babel with transformers, linting, minifier, prettify, parse TS etc.

I archived my goal and still playing around.

You can check out [this readme](https://github.com/kataw/kataw) and try out the demo.

Meriyah is a simple JS parser that follows ESTree and also u

[2021-01-25 00:36] KFlash commented on #169
I had a look at recast. I can actually do most of the same with my own parser (toolbox) that I mentioned in your other issue ;)

[2021-01-25 00:53] fisker commented on #167
I thought this was fixed? https://github.com/meriyah/meriyah/commit/ff71744d5b20b87c3bfbba6534656d3768215207

I'm on cellphone, can't confirm.

[2021-01-25 01:33] jods4 commented on #167
You're right AST explorer is pretty old, which is quite inconvenient for testing and debugging :(

Based on the initial observations in my real program, it looked like the start of the `TemplateLiteral` seems to be at the first `expression` hole even in 4.0.0.

If you think this isn't the case I can debug further with my real program, I didn't notice AST Explorer was so old.

[2021-01-25 07:13] 3cp commented on #167
Yes, pls verify with latest meriyah locally.

[2021-01-25 08:41] jods4 commented on #167
@3cp You can put the same code in there: https://meriyah.github.io/meriyah/
And the Literal also supposedly starts at column 21, which matches the problems I observe on my machine :(

I also observed that if you remove the `return`, for some weird reason the starting column position is correct.

[2021-01-25 08:46] KFlash commented on #167
@jods This is JSX not template

[2021-01-25 08:58] jods4 commented on #167
@KFlash I don't understand? I unchecked JSX and checked module in the left sidebar.

[2021-01-25 09:24] KFlash commented on #167
I did a comparison here. start & end values is off by 1 a few places,. I guess the whitespace screw this up.

Template tail start at 54 and end at 54. If you consume a backtick the end value should increase with +1. So the value should be 54 - 55.

Not sure about column values

[2021-01-25 09:44] jods4 commented on #167
Here's an illustration of the problem:
![image](https://user-images.githubusercontent.com/3832820/105688718-37723a80-5efa-11eb-99ac-b3ae91a60f8d.png)

[2021-01-28 08:51] 3cp commented on #168
Looks like not difficult to implement. Question @KFlash, do we want to shift the numbers below assign operators to make spaces for `||=` `&&=` and `??=`? Or we can give new numbers for them

[code]

[2021-01-28 09:43] #167 closed

[2021-01-28 09:43] #169 closed

[2021-01-28 09:45] KFlash commented on #168
The order doesn't matter, but probably easier to understand if grouped together like `41`, `42` ... etc

Do not forget to add `| IsAssignOp` behind the numbers or else this will not parse :P

The token dispatch code also need a quick update for this to work, but nothing of this is super hard. Maybe 10 min to fix it.

[2021-01-28 09:57] KFlash commented on #161
@3cp ideas for an fix?

[2021-01-30 02:43] 3cp commented on #168
@KFlash does stage4 mean still need `next` flag?

[2021-01-30 03:12] KFlash commented on #168
It's means it's implemented into all browsers and part of the ECMA language, so no!

[2021-01-30 03:40] 3cp commented on #168
Good, I didn't do that.

[2021-01-30 17:42] KFlash commented on #133
is this something you plan to fix now? 4.0 already shipped

[2021-01-30 18:28] 3cp commented on #133
Totally forgot this one.

[2021-01-30 18:37] fisker commented on #133
Use this directly? https://html.spec.whatwg.org/entities.json

[2021-01-31 02:09] 3cp commented on #133
Just find out it's bit tricky to implement it. Part of the entities are so called legacy entities, which allows both `&nbsp` and `&nbsp;`. There is also `&#38;` and `&#x26;`.
The fb55/entities builds a huge regex to match named entities, should we copy its implementation and acknowledge it?
https://github.com/fb55/entities/blob/master/src/decode.ts

[2021-01-31 02:32] 3cp commented on #133
Sounds like will enlarge our code base for about 50KB, that makes me reluctant to fix this issue.

[2021-01-31 02:32] KFlash commented on #133
I'm not sure, but from top of my head you should take the value returned by string literal, and check it against object below. If match, then returned the decoded. If undefined, return value as is
[code]

[2021-01-31 02:34] KFlash commented on #133
In any case need to use a 'new Map' for perf reasons

[2021-01-31 02:36] 3cp commented on #133
That's the idea. The optional ending `;` on some entities (but not all) makes the matching tricky.

Both `&amp;a` and `&ampa` decodes to `&a`.

[2021-01-31 02:39] 3cp commented on #133
Let me dig into fb jsx spec, if it only allows strict html (`;` is not optional), that's much easier to implement.

[2021-01-31 02:48] 3cp commented on #133
esprima, typescript, didn't decode.
acorn decodes in strict mode :-)
fb's own flow-parser decodes in strict mode too :-)

Let me test in a React app for the React behaviour.

[2021-01-31 02:52] KFlash commented on #133
Esprima are using [this one](https://github.com/jquery/esprima/blob/master/src/xhtml-entities.ts)

If my replies feels "strange", well it's because I'm in the middle of my worse nightmare :P

[2021-01-31 02:55] 3cp commented on #133
Confirmed, React uses strict mode :-)

[2021-01-31 02:56] KFlash commented on #133
TS?

[2021-01-31 02:58] 3cp commented on #133
TSC didn't output estree, its JSText node only has `text` which is our raw.

[2021-01-31 02:59] KFlash commented on #133
So no changes? Maybe in their JSX transformer?

[2021-01-31 03:12] fisker commented on #133
Is it possible move `jsx` to  a "plugin", so  this packge can remain small size. After all, jsx is not js  pec .

[2021-01-31 04:11] KFlash commented on #133
Hard to change the API in meriyah

[2021-01-31 04:45] KFlash commented on #133
@fisker I thought a bit. It's possible. Do you take a stab at it?
Refactor all ast nodes out in  it's factory function map obj.  Export it so it's available through API. Use same  map obj internal to create ast nodes.
Now map obj can be extended from outside with new ast nodes.
Next  is an transformer and a simple walker that handle lexical scoping.
In a jsx transform plugin you add new ast nodes

[2021-01-31 08:13] 3cp commented on #133
Yes, at least tsc did not do it in parsing. Moving jsx to plugin requires considerable refactoring.

meriyah.umd.js jumps from 281K to 337K. meriyah.umd.min.js jumps from 98K to 127K. Not too bad.

[2021-01-31 09:07] KFlash commented on #133
tsc are doing jsx inside the parser, but they are using a transformer to transform it to support React output. Doing it in parsing can result in perf regression. Did you check for it?

Not that bad file size, but how did you get 127?   My private code minified is 163kb as of now and it contain much more code (parser, 3x walker, transformer, prettifier, linter etc) in one package.

Is it the JSX st

[2021-02-01 01:54] 3cp commented on #133
My size comparison was the master branch vs my PR branch.

[2021-02-01 01:58] 3cp commented on #133
Your small entities mapping here https://github.com/meriyah/meriyah/issues/133#issuecomment-770314802 is similar to the one acron-jsx used.

I used full https://html.spec.whatwg.org/entities.json in my PR, cleaned up some duplicated legacy entities (for the `;` thing).

[2021-02-01 02:37] KFlash commented on #133
can you try to pack it ? Or impossible to use bitwise operators in this case?

[2021-02-01 02:43] 3cp commented on #133
How to pack it? bitwise ops?

[2021-02-01 02:45] KFlash commented on #133
yes if possible. Didn't look into it but it should be possible to do some shifting on the code points.

[2021-02-02 08:41] #133 closed

[2021-02-06 20:30] #168 closed

[2021-02-08 06:11] fisker opened #176 "Can't parser JSX"
Self closing can parse

[code]

but

[code]

Did I do something wrong?

[2021-02-09 02:47] 3cp commented on #176
It seems the latest 4.1.0 shipped with wrong dist files. I think this is the second time we got wrong dist files (maybe only the second time we noticed). I will make sure to add step to clean up tsc cache before bundle.

[2021-02-09 02:52] 3cp commented on #176
It's probably from rollup-plugin-typescript2 https://github.com/ezolenko/rollup-plugin-typescript2/issues/262

I will add clean: true.

[2021-02-09 02:59] #176 closed

[2021-02-09 03:02] 3cp commented on #176
I will release a patch tonight when I got back to home mac.

[2021-02-09 07:09] 3cp commented on #176
v4.1.1 fixed the issue.

I think rollup-plugin-typescript2 has some bug on determine invalidating cache. One ts file may be affected by multiple ts files (especially those only provide typing, but yield no js file).

[2021-02-09 07:55] fisker commented on #176
Thanks!

[2021-02-09 23:36] benmccann commented on #141
I am unable to use Meriyah 4.1.1 in my project. It looks like this may have been attempted to be fixed in https://github.com/meriyah/meriyah/pull/171, but it doesn't seem sufficient for me.

[code]

Changing `main` to `meriyah.cjs.js` as suggested in this issue fixes it for me. @KFlash is that a change we could make?

[2021-02-09 23:39] KFlash commented on #141
i think it's reasonable. Depends on older browsers and NodeJS I guess. Wanna do a pr?
cc / @3cp

[2021-02-10 08:10] 3cp commented on #141
@benmccann what nodejs version you got problem with meriyah 4.1.1? If possible, can you push up a simple github repo to reproduce the error?

[2021-02-10 08:14] 3cp commented on #141
I had no issue with nodejs v10, v12, v14, and v15. You probably found some interesting edge case.

[2021-02-10 08:16] 3cp commented on #141
I am guessing you are on an early v12 (but not latest v12) which got esm support, but not `exports.require` support.

[2021-02-10 13:53] benmccann commented on #141
I'm on Node 14.8.0. I'm not sure whether I'll be able to setup a repro. I do have `"type": "module"` in my project. I'm not sure if there's anything else that might affect it

[2021-02-10 14:12] 3cp commented on #141
Try upgrade to latest v14.
The exports.require may not be supported by your nodejs version.

[2021-02-10 14:14] 3cp commented on #141
I agree using .cjs on main field can better support what ever nodejs versions.

[2021-02-10 14:31] #141 closed

[2021-02-15 06:26] KFlash commented on #151
@3cp Closing. Seems to be no progress on this issue ticket, and it's hard in general to implement this.

[2021-02-15 06:26] #151 closed

[2021-02-21 16:21] romgrk opened #179 "Attach comments example"
The documentation is not very clear with regards to the use-case of attaching comments to nodes. I've implemented an example for my use-case and wanted to share it as I'm sure other people are interested in that use-case.

It would be nice to include an example (this one or another) in the documentation.

https://gist.github.com/romgrk/bea28d1d40a81cca6eb89479a31c1eec

[2021-02-26 02:17] fisker opened #180 "Question: How to traverse AST"
Is there a `traverse` function or `visitorKeys` so I can use `estraverse` to traverse AST.

[2021-02-26 20:10] LumenUI opened #181 "Is it possible to allow "@" to be at the start of a function declaration?"
Hello! I'm working on a project named as "Native JavaScript", a highly-optimizing compiler for JavaScript (with static typing). I've come to sway towards the idea of macros, little code snippets you can easily add to your project in a few lines instead of having to type them manually. I've decided on all macros starting with an "@" symbol. Is it possible to allow Meriyah to accept functions that s

[2021-02-26 22:24] 3cp commented on #181
I am afraid not. That's not part of ECMA spec or any extension/proposal.

In fact, the decorator proposal (which meriyah currently supports) uses `@` for a different meaning. It will land in EMCA spec in future (no idea how long will it take).

[2021-02-26 23:32] KFlash commented on #181
@3cp Could tweak it so `@!` could be allowed - in line with hashbang

@LumenUI Highly optimized? Perf is Meriyah perf?

[2021-02-27 07:23] 3cp commented on #181
Right now, the parser sees `@` as the starting point of a list of decorators. Allowing `@` to be starting point of either decorator or function could touch lots of code, not just the function parsing.

Are you proposing `@!macro` instead of `@macro`? It looks bit funny :-)
Maybe a better choice is `%macro` or `#macro`? (`#` maybe troublesome too as it's used for private class variable). `%` might

[2021-02-27 07:49] KFlash commented on #181
`%macro` sounds like a good option :)

[2021-02-27 16:05] lazarljubenovic commented on #181
Prior art: percentage sign in front of function calls is used by Node when using the `--allow-natives-syntax` flag.

[2021-02-27 19:28] LumenUI commented on #181
Thank you everyone! Maybe I'

Meriyah is probably the fastest parser I've seen. It's very well and extensively featured, but they're really only things you'd want to use given a bigger project. It's been a life-saver with all of these options (especially since it's really really fast compared to other highly-featured parsers. In my experience, Acorn & Esprima are slower than this parser.). Meriyah

[2021-02-27 22:29] LumenUI commented on #181
Hello again! I've come up with a solution to my problem. Macros will be declared with the "$_" starting primer. It will first search for a function declared under that name and shoot a warning if a macro under that name is found as well. If the function isn't declared, then we search for the macro and operate like a macro would.

[2021-02-27 22:29] #181 closed

[2021-02-27 22:31] KFlash commented on #181
@LumenUI What's the project you are working on?

[2021-02-28 02:25] 3cp commented on #180
estraverse works with any estree AST tree.
[code]

[2021-02-28 02:26] fisker commented on #180
I know, but I think meriyah better provide `visitorKeys`.

[2021-02-28 02:30] fisker commented on #180
For example, we have `PropertyDefinition`, but [estraverse don't have keys](https://github.com/estools/estraverse/blob/master/estraverse.js#L151) for it.

[2021-02-28 02:50] 3cp commented on #180
Guess that's for estraverse to keep up to date with estree?

[2021-02-28 03:33] fisker commented on #180
I'm not sure, but `babel` have `@babel/traverse`, `espree`  and `@typescript-eslint/typescript-estree` have `.VistorKeys` exported.

Here is how babel do https://github.com/babel/babel/blob/e735266dee02144f168a5547fe14f3fd0c553ee4/eslint/babel-eslint-parser/src/visitor-keys.js

I can understand if you decide wontfix.

[2021-02-28 04:49] 3cp commented on #180
I am confused. Is VisitKeys something estraverse can consume at runtime?

[2021-02-28 04:54] fisker commented on #180
https://github.com/estools/estraverse#example-usage

[2021-02-28 04:56] fisker commented on #180
By default, unknown knows will fallback to `Object.keys` example, if node has `.comments`, it will traverse over comments.

But if `keys: {PropertyDefinition: ['key', 'value']}`, estraverse  will only look `key` and `value`.

[2021-02-28 09:22] 3cp commented on #180
Sounds like easy improvement. Why don't you send PR :-)

[2021-02-28 09:54] fisker commented on #180
I'm not sure if I can do this, as I don't use TS.

[2021-02-28 18:52] LumenUI opened #182 "Meriyah does not properly follow ECMA standards on function declaration and calling."
When experimenting with Meriyah, I discovered the parser properly registers the following invalid function declarations and calls:

[code]

[code]

Meriyah also struggles when calling functions. It will assume that the name of the function being called is an identifier, and not a literal.

[2021-02-28 21:51] 3cp commented on #182
Probably missed check in
https://github.com/meriyah/meriyah/blob/3c0b15607b96cd2a7906f043c9cff8ea940116d5/src/common.ts#L391

[2021-03-01 06:55] 3cp commented on #180
It's probably easier (plus better user experience) to contribute to estraverse with the missing node types.

[2021-03-03 13:31] thorn0 opened #183 "Feature request: new value for the preserveParens option"
Would be good to have a mode in which `ParenthesizedExpression` nodes would be created only for parentheses used for JSDoc type assertions.

The syntax of JSDoc type assertions is simple: `@type {...}` JSDoc comment followed by a parenthesized expression. Anything else is not a type assertion. Reference: [Closure Compiler](https://github.com/google/closure-compiler/wiki/Annotating-JavaScript-for-t

[2021-03-04 19:28] 3cp commented on #182
@KFlash what's this line doing?

https://github.com/meriyah/meriyah/blob/3c0b15607b96cd2a7906f043c9cff8ea940116d5/src/parser.ts#L4800

It says `(context & (Context.Strict | Context.Module)) << 11`, the shifting 11 bits to the left moved the `strict` and `module` context to `InYieldContext` and `InAwaitContext`. I have no idea why it does that.

[2021-03-04 19:51] KFlash commented on #182
validates func names and remove module and strict check

[2021-03-04 19:54] 3cp commented on #182
Why shift 11 bits?

[2021-03-04 19:55] 3cp commented on #182
I think I missed the leading `context | ...` but I still don't understand the logic.

[2021-03-04 20:01] KFlash commented on #182
then rewrite it. I guess that logic broke at some point where token.ts was updated with support for newer AST nodes

[2021-03-04 20:51] 3cp commented on #182
That logic was not the reason of this bug. I am just curious about the line which I still don't understand.

[2021-03-04 20:56] KFlash commented on #182
The logic is - I think - is that await and yield has a value around 21?  Then you shift to left so you can unset this masks. Doing so will let you validate cases that should be valid even in async or yield context

[2021-03-05 07:21] 3cp commented on #182
There are lots of missed rejection on CallExpression, for example:
[code]

It's bit hard to clear up all of them, which leads me to think maybe our `Flags.DisallowCall` is not well fitted for its purpose.

I fixed all the above, but surely there are more (mainly in parsePrimaryExpression).

[2021-03-05 07:33] 3cp commented on #182
@KFlash some interesting finding. In real JS parser (nodejs), `null(), true(), false()` are not parser error, but runtime error.
[code]

I guess we don't need to reject the 3 in parsing.

[2021-03-05 07:41] 3cp commented on #182
My lord `"a"()` is runtime error too.
[code]

This parses with no issue in browser or nodejs.

@KFlash I guess we don't change the rejections of CallExpression at all?

[2021-03-05 07:43] 3cp commented on #182
`1()` is runtime error too.

[2021-03-05 07:44] 3cp commented on #182
Other parsers like acorn and TS do not reject them.

[2021-03-05 08:14] #182 closed

[2021-03-05 09:49] 3cp commented on #183
This is probably difficult for meriyah, as the content of comment needs to go through some kind of syntax parsing too.

[2021-03-05 10:13] thorn0 commented on #183
The syntax is super simple. See the links. No need to parse the type itself. Just the fact that the comment starts with `*` and contains `@type` followed by at least something.

[2021-03-05 10:24] 3cp commented on #183
I see.

[2021-03-05 23:47] 3cp commented on #183
@KFlash can you have a look, I am not sure how to temporarily turn on Context.OptionsPreserveParens if next token is `(`. Also has to properly reset it after the ParenthesizedExpression. I sensed it might be complicated if need to support recursion .

I am not sure if recursive type casting is possible. @thorn0 ?
[code]

Right now, I guess you are turning on preserveParens option globally.

[2021-03-05 23:50] KFlash commented on #183
Can you just create a new options? Name i `thorn`. Then you do the same as for other options

`if (options.thorn) context | Context.OptionsThorn |  OptionsPreserveParens `

[2021-03-06 00:42] thorn0 commented on #183
Yes, possible. Also they can be nested directly (people really use this):
[code]

If you mean ESTree, `ParenthesizedExpression` is not there. It's a non-standard extension. Overall, ESTree's approach is to ignore insignificant parentheses. However, the JSDoc convention that uses such parentheses is widespread and important. So from the point of view of tools like formatters and linters, it makes s

[2021-03-07 16:43] LumenUI commented on #182
Apologies.

[2021-03-07 19:04] 3cp commented on #182
@LumenUI nothing to be sorry for. It was a valid point, and very subtle and surprising behavior, which clarified some edge cases.

In fact, meriyah's behavior is still not same as native JS parser. `[]()` and `({}())` are parsing time error (means even when wrapped inside function) but meriyah did not pick them up. I will open another issue to clean up that.

[2021-03-08 08:21] 3cp commented on #182
NVM, my mistake, `[]()` and `({}()` is runtime error too :-)

[2021-03-09 08:35] fisker commented on #180
Thanks for the advice.

[2021-03-09 08:35] #180 closed

[2021-03-09 08:38] fisker opened #185 "JSX with comments not correctly parsed"
Examples:

[code]

[code]

[code]

[2021-03-24 23:50] FredKSchott commented on #29
Was this implemented? I see an error when attempting to use:

[code]

[2021-03-24 23:52] FredKSchott opened #186 "Error trying to use top-level await?"
[code]

I found https://github.com/meriyah/meriyah/issues/29 but it looks like that issue may have been closed without implementation.

Top-level await is now stage 3, and supported in Node.js v14+.

[2021-03-27 08:47] 3cp commented on #186
@KFlash to support this, is it just removing `Context.InAwaitContext` from the code base?

[2021-03-27 08:58] 3cp commented on #186
NVM, it seems more complex that that.

[2021-03-27 09:01] KFlash commented on #186
hmm long time since I was focused on that kind of simple code :)

You can't just remove that context, then tons of async tests will fail.

Validate if you come directly from TopLevel when parsing out await is one option. If not in a func body, but on top level, parse it out. Follow the specs.

But Meriyah is all about no-lookahead, so what if you do it simple and just add a 'await' keyword in 'Sta

[2021-03-29 12:09] fisker opened #187 "Should throw on `async () => await 5 ** 6;`"
Babel PR https://github.com/babel/babel/pull/12441

[2021-04-08 09:51] 3cp commented on #187
I am not very clear about the issue.
Does this come from an ambiguous spec on the precedence of "await" and "**"?

[2021-04-08 10:04] 3cp commented on #187
https://github.com/tc39/ecma262/issues/2197
https://github.com/tc39/notes/blob/master/meetings/2020-11/nov-16.md#handling-await-in-left-operands-of-exponentiation

I am little surprised to see the discussion is all about the spec on left operands of exponentiation. Nobody talked about the precedence of operators??

[2021-04-08 10:04] fisker commented on #187
Yes, I think so, check [this](https://github.com/tc39/ecma262/issues/2197)

[2021-04-08 10:06] 3cp commented on #187
I could not find precedence discussed there.

[2021-04-08 10:23] 3cp commented on #187
Now I understand bit more, Estree defined ecma ExponentiationExpression inside BinaryExpression.
But ExponentiationExpression requires left operand to be UpdateExpression, while BinaryExpression does not do special check when operator is `**` (highest precedence).

[2021-04-08 10:25] 3cp commented on #187
I need to check more. Our code seems rejecting other Non-UpdateExpreesion just fine `+2**2`, `delete 2**2`.

[2021-04-09 04:43] 3cp commented on #186
I will study the spec when I got more time.

[2021-04-11 09:57] 3cp commented on #186
https://tc39.es/proposal-top-level-await/#sec-modules

Adding it to StatementListItem seems not enough, there is also top-level AwaitExpression and few others.

[code]

[2021-04-11 11:42] KFlash commented on #186
PrimaryExpression?

[2021-04-11 23:30] 3cp commented on #186
I don't understand that spec notation well enough to understand what's changed in the above proposed spec change.

[2021-04-12 03:26] KFlash commented on #186
then open an issue and mark it as "Good first issue" 👍

[2021-04-18 06:09] y-ich opened #189 ""Speed Comparison" page does not work on Chome 90."
Hi.

I knew meriyah just now and tried "[Speed Comparison adapted from Esprima's Speed Comparison](https://meriyah.github.io/meriyah/performance/)"  but it does not work on Chrome 90 for macOS.

Here is an error message on console.

    Uncaught TypeError: Cannot read property 'version' of undefined
        at Object.version (compare.js:42)
        at reset (compare.js:286)
        at runBenchmark

[2021-04-18 23:51] aladdin-add commented on #189
thx for the report, seems the pages was not updated. I'll make a temp fix later.

[2021-04-25 01:32] y-ich commented on #189
I confirmed that it worked well.

[2021-04-25 01:32] #189 closed

[2021-04-29 07:24] fisker opened #190 "Should throw on `for (async of []);`"
Babel PR https://github.com/babel/babel/pull/13208
Prettier issue https://github.com/prettier/prettier/issues/10777

[2021-05-02 08:35] MaxMilton opened #191 "String containing \n throws SyntaxError: Unterminated string literal"
When parsing any code which includes a string containing a terminated new line `\n` the parser throws "SyntaxError: Unterminated string literal".

Minimal repro:

[code]

Versions:

- meriyah: `v4.1.5`
- node: `12`, `14`, `16` (same error on all support node versions)
- OS: `Linux max 5.11.16-arch1-1 #1 SMP PREEMPT Wed, 21 Apr 2021 17:22:13 +0000 x86_64 GNU/Linux`

Stack trace:

[code]

[2021-05-02 08:50] 3cp commented on #191
`'var str = "\n"'` literally means:
[code]

It failed because double quoted string in JS doesn't support multiline.

what you wanted is `'var str = "\\n"'`, you need to escape `\` when writing it inside JS `'string'`.

[2021-05-02 08:50] #191 closed

[2021-05-02 13:20] MaxMilton commented on #191
That makes sense and it's rather obvious in hindsight. After writing 100+ unit tests my head was a bit of a mess and its a funny mistake!

Thank you for getting back to this, I appreciate it :)

[2021-05-03 08:00] lazarljubenovic commented on #191
The little-known [`String.raw`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/raw) tag helps a lot when dealing with "nested" escapes, especially with unit tests.

[2021-05-24 03:45] KFlash commented on #190
@3cp It will be very challenging to fix this without a lookahead ...

[2021-05-24 10:04] 3cp commented on #190
undefined is not a keyword which is one of the initial design mistakes of JS.
async is not a keyword because it's an added feature which cannot be made as a keyword without breaking legacy JS code.
JS parser is really not a pleasant artefact to work with. 😂

[2021-05-24 10:21] KFlash commented on #190
I think you can throw an error if you pass down an context mask or something. In the future I will figure out how to solve it without a lookahead, but for now [this](https://github.com/kataw/kataw/blob/main/src/parser/parser.ts#L5090-L5103) is how I solved it in Kataw.

[2021-05-24 10:30] KFlash opened #192 "make the error messages more informativ"
should refactor the error messages to be more informative. "unexpected token" doesn't tell me much. Also some error messages is out of scope.

Make it more dynamic and context bases.

Play with Kataw and you get the point:  https://kataw.github.io/kataw/kataw_ast/

[2021-05-24 10:53] KFlash commented on #192
@3cp  Take a look at this error diagnostics

https://github.com/kataw/kataw/blob/83b25a20ea8a6ffb8cf419b2cb5c1678e4e96f7e/test/__snapshot__/parser/expressions/classes/invalid-class-fields.md#diagnostics

[2021-05-24 11:18] 3cp commented on #192
Did you remove escaya in favor of kataw?

[2021-05-24 11:23] KFlash commented on #192
Not me. My student did that. Why?

[2021-05-24 13:35] KFlash commented on #190
@3cp It's possible to solve this without a lookahead. Just return the 'async' identifier if you see the 'of' keyword and deal with the rest of the logic in 'parseForStatement'.  Very easy to solve 👍

[2021-05-26 12:57] KFlash opened #193 "context masks turns into negative value"
`OptionsUniqueKeyInPattern = 1 << 31,`  is a negative value and can cause conflicts and unexpected things can happen :)

[2021-05-26 23:10] 3cp commented on #193
As long as we only do bitwise operations around those options, it could be fine?

[2021-05-26 23:12] 3cp commented on #193
https://github.com/meriyah/meriyah/search?q=OptionsUniqueKeyInPattern

Looks fine to me.

[2021-05-26 23:19] KFlash commented on #193
It looks okay, but I guess it's value is something like '-242585759" ? I didn't check it, but in some cases NodeJS / browser can end up mixing together multiple context masks when this is the only one you want to use. So suddenly you are in strict mode and disallow in context while parsing in module goal etc.

[2021-05-26 23:25] KFlash commented on #186
Any plans to implement this?

[2021-05-26 23:26] KFlash opened #194 "implement static blocks (stage 3)"
Meriyah supports stage 3 proposals so need to implement static block

[2021-05-26 23:38] KFlash commented on #194
@3cp You can use this test cases https://github.com/kataw/kataw/tree/main/test/__snapshot__/parser/stage-3/static-block

[2021-05-27 01:16] 3cp commented on #186
No. I have not spent any time on this.

[2021-05-27 02:26] aladdin-add commented on #186
TLA has been stage-4 now. refs: https://github.com/tc39/proposals/commit/99fa42a0863b1915eccead5bd2939ed5f468caab

[2021-05-27 02:32] KFlash commented on #186
@aladdin-add Stage 4? So it needs to be implemented in Kataw too?

[2021-05-27 03:00] aladdin-add commented on #186
yes!

[2021-05-27 04:07] aladdin-add commented on #186
and class fields. refs: https://github.com/tc39/ecma262/pull/1668

[2021-05-28 10:27] KFlash opened #195 "performance regression"
Meriyah is a simple ESTree parser and doesn't do much "under the hood". I ran a perf comparison against Kataw - a CST parser that does much more than meriyah - and found perf  regression

@3cp Thoughts?

![meriyah](https://user-images.githubusercontent.com/31855118/119970296-22113800-bfe2-11eb-80e2-6da800c0b897.png)

[2021-06-25 20:33] FredKSchott commented on #186
Any eta on when this may get looked ? It's completely fine if the answer is "not for a while", we're just looking for a fix in Snowpack and may move back to acorn (at least for now) if that's the case  https://github.com/snowpackjs/snowpack/pull/2987

[2021-06-26 02:42] 3cp commented on #186
At least I am not working on this, not much spare time. @KFlash ?

[2021-06-26 02:47] KFlash commented on #186
Everyone can do a PR. I'm busy with Kataw.

@FredKSchott  Acorn's implementation has some flaws / bugs. They recently fixed one bug.

[2021-06-26 02:51] KFlash commented on #186
It's super easy to get this implemented. Swap [this line](https://github.com/meriyah/meriyah/blob/master/src/parser.ts#L3596) with this code `if (context & (Context.Module | Context.InAwaitContext)) {` and it's implemented.

Need ofc. fix the non failing. See Kataw on how I solved that

[2021-06-27 04:32] #187 closed

[2021-07-04 14:55] felipelealdefaria opened #196 "[Typescript Error]: Function declaration must have a name in this context"
Hi, I'm working on a project where I need to convert snippets of code to AST. I have two simple examples of functions using Typescript:

[code]

For the case of **regularFunction** I don't have any problem, but when I use the parse function in **arrowFunction** I get the error below:

[code]

I realized that it can be related to the newer syntaxes of the language and remembering that I only have t

[2021-07-05 02:27] 3cp commented on #196
FYI meriyah doesn't understand TypeScript syntax, only JavaScript.

[2021-07-05 17:18] #196 closed

[2021-07-06 00:09] 3cp commented on #196
TypeScript compiler itself can parse ts code, but not in Estree AST.

If you want a TypeScript parser with output close to Estree AST, there are two well-used parsers that I know:

1. eslint's TypeScript parser
https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/parser

2. babel parser with typescript extension, you also need the estree plugin to make the output more like E

[2021-07-06 00:17] felipelealdefaria commented on #196
Thank you very much @3cp! This information will help me a lot in my project.

[2021-07-11 23:35] #186 closed

[2021-07-12 02:27] 3cp commented on #186
v4.2.0 is released with this feature.

[2021-12-10 13:18] fis-cz opened #199 "TypeScript: meriyah package is not compatible with estree package"
Hello,

Just trying to use 'meriyah' (4.2.0) with 'estree-toolkit' (1.2.6) and '@types/estree' (0.0.50), so latest available versions, with TypeScript compiler. I just found that Meriyah is not compatible with '@types/estree'.

When I do:

[code]

the type checker reports the error:

`
Type 'import(".../node_modules/meriyah/dist/src/estree").Program' is not assignable to type 'import(".../node_mod

[2022-02-07 01:57] fisker opened #200 "Incorrect exported for `export * as "string" ...`"
[code]

Should be `Literal` instead.

[2022-02-07 04:56] 3cp commented on #200
Interesting syntax. BTW, how to use the exported "string" later in the code?

[2022-02-07 05:53] fisker commented on #200
`Import "string" as foo from "foo"` not sure if it works for javascript, this is designed for wasm, I think.

[2022-02-07 05:58] fisker commented on #200
Seems `meriyah` don't support this syntax above either. Babel added support for it last year. https://babeljs.io/blog/2020/10/15/7.12.0#imports-and-exports-with-string-names-12091httpsgithubcombabelbabelpull12091

[2022-02-07 06:03] fisker commented on #200
This syntax enabled by default in babel later https://github.com/babel/babel/pull/13195

[2022-02-07 06:03] sosukesuzuki commented on #200
This syntax is added to ECMAScript by https://github.com/tc39/ecma262/pull/2154

[2022-02-07 06:04] sosukesuzuki commented on #200
Usecase: https://github.com/WebAssembly/esm-integration/issues/39

[2022-02-07 06:06] fisker commented on #200
@sosukesuzuki Only `imported` and `exported`? Does it allow `local` use string?

[2022-02-15 14:38] julianjensen opened #202 "Duplicate regular expression flag"
The parser throws an error when using the `s` and `m` flags together in a regular expression. A very simple example that causes the crash is this:
[code]
This is using version `4.2.0` of `meriyah`. It works fine with either the `s` or `m` flag by themselves or in combination with other flags. They just can't both be used at the same time. Using both at the same time is syntactically and semantical

[2022-02-15 14:58] julianjensen commented on #202
The problem may arise from the lexer when it scans the regular expression flags. I see this:
[code]
There is no `RegexFlags` entry for the `s` flag and the `DotAll` covers the `m` flag. This would appear to cause an error when the `s` flag is used with the `Multiline` or `Sticky` flags. I think the `s` needs its own bit flag for this check.

[2022-02-15 15:22] julianjensen opened #203 "Unexpected private field"
I get an error of `Unexpected private field` when using the `super` keyword in a class function with a private name. It works fine if the method is not private, i.e. no hash (`#`) in front of the method name. Here's a minimal example with a comparison to `acorn`.
[code]
which produces the following output:
[code]

[2022-02-15 16:04] julianjensen opened #204 "Unexpected token"
I'm getting an `Unexpected token` error when parsing React code where an inline JavaScript expression starts with a `/`, see below for example. Here's a minimal example with the `acorn` parser thrown in for comparison.

[code]
This produces the following output.
[code]
This is using `meriyah` version `4.2.0`